<%= div_for(message, :class => read_class + "search_result row") do%>
  <div class="span2">
    <div class="sender_name">
      <%= link_to (image_tag "/images/company_square.png", :alt => "Profile"), profile_path(message.sender.profile) %>
      <%= link_to message.sender.name, profile_path(message.sender.profile) %>
    </div>
    <div class="date">
      <%= time_ago_in_words(message.updated_at) %>
    </div>
  </div>
  <div class="body span10">
  	<%= raw(message.body) %>
  </div>
<% end %>
