<div class="profile_header row">
  <div class="span2">
    <div class="profile_avatar box ">
      <%= image_tag "/images/company_square.png", :alt => "Avatar" %>
    </div>
  </div>
  <div class="span9 ">  
    <h1><%= @profile.name %></h1>
    <h4>
      <%= link_to (image_tag "/images/location_pin.png", :alt => "Location"), "http://maps.google.com/maps/api/staticmap?size=640x640&sensor=false&zoom=16&markers=#{@profile.latitude}%2C#{@profile.longitude}" %>
      <%= @profile.location.city %>, <%= @profile.location.state %>
    </h4>
    <span class="sector"><%= @profile.type_name %></span>
  </div>
  <div class="span5">
    <div class="profile_actions">
      <% if may_admin_profile? %>
        <%= link_to('Edit Profile', edit_profile_path(@profile), :class => 'btn small edit') %>
      <% end %>
      <% if @profile.user != current_user %>
        <!-- TODO <a href="#" class="btn large invite">Invite to Bid</a> -->
        <%= link_to('Send A Message', contact_owner_profile_path(@profile), :class => 'btn small message', "data-controls-modal" => "contact-profile-modal", "data-backdrop" => "true") %>
        <!-- TODO <a class="btn small save" href="#">Save</a> -->
      <% end %>
    </div>
  </div>
</div>

<div id="contact-profile-modal" class="modal hide fade">
  <div class="modal-header">
    <a href="#" class="close">×</a>
    <h3>Contact: <%= @profile.name %></h3>
  </div> 
  <%= form_tag(contact_owner_profile_path(@profile), :remote => true, "data-type" => "text" )  do %>
    <div class="modal-body form-stacked">
      <label>Message Body</label>
      <%= text_area_tag :message_body %>
    </div> 
    <div class="modal-footer">
      <%= submit_tag "Send", :class => "btn primary" %>
    </div> 
  <% end %>
</div>
<% content_for :javascript do %>
  <script type="text/javascript">
    $(document).ready(function() {
      $("#contact-profile-modal form")
        .bind('ajax:complete', function(evt, data, status, xhr){
          $("#contact-profile-modal").modal('hide');
        })
        .bind('ajax:success', function(evt, data, status, xhr){
          $("#wrapper").prepend("<p class='alert-message success'>" + xhr.responseText + "</p>");
        })
        .bind('ajax:error', function(evt, xhr, status, error){
          $("#wrapper").prepend("<p class='alert-message error'>" + xhr.responseText + "</p>");
        });
    });
  </script>
<% end %>
