<div class="row">
  <div class="span9 profile_header">
    <h1><%= @profile.name %></h1>
    <h4>
      <%= link_to (image_tag "/images/location_pin.png", :alt => "Location"), "http://maps.google.com/maps/api/staticmap?size=640x640&sensor=false&zoom=16&markers=#{@profile.latitude}%2C#{@profile.longitude}" %>
      <%= @profile.location.city %>, <%= @profile.location.state %>
      &middot;
      <%= @profile.type_name %>
    </h4>
  </div>
  <div class="span3 profile_actions">
    <ul>
      <% if may_admin_profile? %>
        <li><%= link_to('Edit', edit_profile_path(@profile)) %></li>
      <% else %>
        <li><%= link_to('Send Message', contact_owner_profile_path(@profile)) %></li>
      <% end %>
    </ul>
  </div>
</div>
