<div class="profile_header row">
  <div class="span2">
    <div class="box ">
      <%= render :partial => "/profiles/cover_photo", :locals => { :profile => @profile } %>
    </div>
  </div>
  <div class="span9 ">  
    <h1><%= @profile.name %></h1>
    <h4>
      <%= link_to (image_tag "/images/location_pin.png", :alt => "Location"), "http://maps.google.com/maps/api/staticmap?size=640x640&sensor=false&zoom=16&markers=#{@profile.latitude}%2C#{@profile.longitude}" %>
      <%= @profile.location.city %>, <%= @profile.location.state %>
    </h4>
    <% if @profile.project_types.blank? %>
      <span class="sector"><%= @profile.type_name %></span>
    <% else %>
      <% @profile.project_types.each do |project_type| %>
        <span class="sector"><%= project_type.type_name %></span>
      <% end %>
    <% end %>
  </div>
  <div class="span5">
    <div class="profile_actions">
      <% if may_admin_profile? %>
        <%= link_to('Edit Profile', edit_profile_path(@profile), :class => 'btn small edit') %>
      <% end %>
      <% if @profile.user != current_user %>
        <% if @profile.contractor_profile? && current_user.developer? && current_user.project.private.active.present? %>
          <%= link_to invite_profile_path(@profile), :class => "btn large invite", "data-controls-modal" => "invite-modal", "data-backdrop" => "true" do %>
            <span>Invite to Bid</span>
          <% end %>
          <%= render "invite" %>
        <% end %>
        <%= link_to('Send A Message', contact_owner_profile_path(@profile), :class => 'btn small message', "data-controls-modal" => "contact-profile-modal", "data-backdrop" => "true") %>
        <!-- <a class="btn small save" href="#"><span>Save</span></a>  -->
      <% end %>
    </div>
  </div>
</div>

<%= render "contact" %>
