<% content_for :top_banner do %>
  <div class="container">
    <%= render "header" %>
    <ul class="tabs span12">
      <li><%= link_to "Company Overview", profile_path(@profile) %></li>
      <li><%= link_to (@profile.user.contractor? ? "Awarded Projects" : "Posted Projects"), projects_profile_path(@profile) %></li>
      <li class="active">
        <%= link_to documents_profile_path(@profile) do %>
          Documents <%= ("(#{@profile.profile_documents.size()})") unless @profile.profile_documents.empty? %>
	      <% end %>
	    </li>
    </ul>
  </div>
<% end %>

<div class="row profile_page">
  <div class="span12">
    <div class="search_results">
      <div class="row form-stacked editable assets">
        <% if may_admin_profile? %>
          <span class="admin-btns">
            <a href="#" class="btn small edit-btn"><%= image_tag "/images/icon_plus_add.png" %> Add Documents</a>
          </span>
          <div class="add-asset">
            <a href="#" class="btn small cancel-btn">Cancel</a>
            <%= form_for [@profile, @profile.profile_documents.build], :html => { :multipart => true } do |profile_doc_form| %>
              <%= profile_doc_form.label :asset, "Add Document" %>
              <%= profile_doc_form.file_field :asset %>
              <%= profile_doc_form.label :description %>
              <%= profile_doc_form.text_field :description %>
            
              <%= profile_doc_form.submit "Upload File", {:class => 'btn primary'} %>
            <% end %>
          </div>
        <% end %>

        <ul class="faux-media-grid">
          <% @profile.profile_documents.each do |profile_document| %>
            <li class="profile_document editable">
              <%= link_to profile_document.asset(:original) do %>
                <%= image_tag(doc_icon_path(profile_document), :alt => profile_document.asset_file_name) %>
                <span class="description"><%= profile_document.description || "&nbsp;".html_safe %></span>
              <% end %>
              <% if may_admin_profile? %>
                <%= form_for [@profile, profile_document], :remote => true, "data-type" => "text" do |profile_doc_form| %>
                  <%= profile_doc_form.text_field :description %>
                  <a href="#" class="btn small cancel-btn">Cancel</a>
                  <%= profile_doc_form.submit "Save", {:class => 'btn small'} %>
                <% end %>
                <span class="edit-btns">
                  <%= link_to [@profile, profile_document], {:confirm => 'Are you sure?', :method => :delete, :class => 'btn small delete-btn nav nav-destroy'} do %>
                    <%= image_tag "/images/icon_X_delete.png" %> Delete
                  <% end %>
                  <a href="#" class="btn small edit-btn"><%= image_tag "/images/icon_pencil_edit.png" %> Edit</a>
                </span>
              <% end %>
            </li>
          <% end%>
        </ul>
      </div>
    </div>
  </div>
  <%= render "sidebar" %>
  
  <% content_for :javascript do %>
    <%= javascript_include_tag "jquery.lightbox" %>
    <script type="text/javascript">
      $(document).ready(function() {
        var isSelectCover = false;
        
        if(window.location.hash) $('a[href="' + window.location.hash + '"]').click();

        $('.btn.edit-btn').click(function() {
          $(this).closest('.editable').addClass('edit');
          return false;
        });
        $('.btn.cancel-btn').click(function() {
          $(this).closest('.editable').removeClass('edit');
        $(this).closest('.editable').removeClass('select-cover');
          isSelectCover = false;
          return false;
        });
        $(".profile_document form")
          .bind('ajax:complete', function(evt, data, status, xhr){
            $(this).closest('.editable').removeClass('edit');
          })
          .bind('ajax:success', function(evt, data, status, xhr){
            $(this).closest('.profile_document').find('.description').html(xhr.responseText);
          })
          .bind('ajax:error', function(evt, xhr, status, error){
            $("#wrapper").prepend("<p class='alert-message error'>" + xhr.responseText + "</p>");
          });
        $('.profile_document a.lightbox_thumb').lightBox({
          imageLoading: '/images/lightbox/lightbox-ico-loading.gif',
          imageBtnClose: '/images/lightbox/lightbox-btn-close.gif',
          imageBlank: '/images/lightbox/lightbox-blank.gif'
        });
      });
    </script>
  <% end%>
</div>
<%= render "/result_location_lightbox" %>
