<div class="row profile_page">
  <%= render "sidebar" %>
  <div class="span12">
    <%= render "header" %>
    <div class="row form-stacked profile-form">
      <%= render :partial => 'form' %>
      <%= form_for @profile, :url => add_cover_photo_profile_path(@profile), :method => :post, :html => { :multipart => true } do |f| %>
        <%= render :partial => 'form_cover_photo', :locals => { :f => f } %>
      <% end %>
    </div>
  </div>
</div>
