<% content_for :top_banner do %>
  <div class="container">
    <%= render "header" %>
    <ul class="tabs span12">
      <li><%= link_to "Company Overview", profile_path(@profile) %></li>
      <li class="active"><%= link_to (@profile.user.contractor? ? "Awarded Projects" : "Posted Projects"), projects_profile_path(@profile) %></li>
      <li>
        <%= link_to documents_profile_path(@profile) do %>
  	      Documents <%= ("(#{@profile.profile_documents.not_deleted.doc.size()})") unless @profile.profile_documents.not_deleted.doc.empty? %>
  	    <% end %>
  	  </li>
    </ul>
  </div>
<% end %>

<div class="row profile_page">
  <div class="span12">
    <div class="search_results">
      <%= render :partial => "/projects/project", :collection => @projects %>
    </div>
  </div>
  <%= render "sidebar" %>
</div>
<%= render "/result_location_lightbox" %>
