<div class="row profile_page">
  <div class="span12">
    <%= render "header" %>
    <div class="row">
      <ul class="tabs span12">
      <li class="active"><%= link_to "Company Overview", profile_path(@profile) %></li>
      <li><%= link_to "Awarded Projects", projects_profile_path(@profile) %></li>
      </ul>
      <div class="span6">
        <div class="profile_meta">
          <div class="field ">
            <label class="span2">Location</label>
            <address>
              <p><%= @profile.location.address1 %></p>
              <% unless @profile.location.address2.blank? %>
                <p><%= @profile.location.address2 %></p>
              <% end %>
              <p><%= @profile.location.city %>, <%= @profile.location.state %>&nbsp; <%= @profile.location.post_code %></p>
            </address>
          </div>
          <% @profile.phones.each do |phone| %>
            <div class="field">
              <label class="span2"><%= phone.phone_type.name %></label>
              <span><%= phone.number %></span>
            </div>
          <% end %>
        </div> <!-- /profile_meta -->
      </div>
      <div class="span6 ">
        <div class="profile_meta">
          <% unless @profile.established.blank? %>
            <div class="field">
              <label class="">Established</label>
              <span><%= @profile.established || '&nbsp;'.html_safe %></span>
            </div>
          <% end %>
          <% unless @profile.website.blank? %>
            <div class="field">
              <label class="span2">Website</label>
              <span><%= @profile.website || '&nbsp;'.html_safe %></span>
            </div>
          <% end %>
        </div> <!-- /profile_meta -->
      </div>
    </div>
    <div class="row">
      <div class="span12 alpha form-stacked">
        <div class="profile_meta">
          <label class="">Company Description</label>
          <p class="">
            <%= simple_format @profile.description %>
          </p>
        </div>
      </div>
    </div>
  </div>
  <%= render "sidebar" %>
</div>
<% content_for :javascript do %>
  <%= javascript_include_tag "jquery.lightbox" %>
  <script type="text/javascript">
    $(document).ready(function() {
      $('.profile_header h4 a').lightBox({
        imageLoading: '/images/lightbox/lightbox-ico-loading.gif',
        imageBtnClose: '/images/lightbox/lightbox-btn-close.gif',
        imageBlank: '/images/lightbox/lightbox-blank.gif'
      });
    });
  </script>
<% end%>

