<% content_for :top_banner do %>
  <div class="container">
    <h1>
      <%= image_tag "/images/contact_person_icon.png", :alt => "Avatar", :width => "16px", :height => "16px" %>
      Edit my Account
    </h1>
    <%= render '/activity/tabs' %>
  </div>
<% end %>
<div class="track-page track-projects-page row ">
  <div class="span5 ">
    <div class="track_filters ">
      <ul>
        <li class="active">
          <%= link_to "Settings", edit_user_registration_path %>
        </li>
        <li>
          <%= link_to "Purchase History", history_credits_path %>
        </li>
      </ul>

      <dl>
        <dt>Last Login:</dt>
        <dd><%= current_user.last_sign_in_at.to_formatted_s :long %> </dd>
      </dl>

      <p><%= link_to "Deactivate your account", user_registration_path, :confirm => "Are you sure?", :method => :delete %>.</p>
    </div>
  </div>
  <div class="span11 form-stacked alpha">
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :email %>
        <%= f.email_field :email %>
      </div>

      <div>
        <label>Password <i>(leave blank if you don't want to change it)</i></label>
        <%= f.password_field :password %>
      </div>

      <div>
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation %>
      </div>

      <div>
        <label>Current Password <i>(we need your current password to confirm your changes)</i></label>
        <%= f.password_field :current_password %>
      </div>

      <div><%= f.submit "Update", :class => 'btn large primary float_right' %></div>
    <% end %>

  </div> <!-- /.track_results -->
</div> <!-- /.track_page -->
