<div class="results_order">
  <%= link_to_unless @search.order == :name.to_s, "name", search_path(@search, :order => :name), :class => (@search.order == :name.to_s ? 'active' : '') %>
  <%= link_to_unless @search.order == :distance.to_s, "distance", search_path(@search, :order => :distance), :class => (@search.order == :distance.to_s ? 'active' : '') unless @search.location.blank? %>
</div>
<% @search.results.each do |contractor| %>
  <div class="search_result contractor ">
    <div class="result_image ">
      <%= render :partial => "/profiles/cover_photo", :locals => { :profile => contractor } %>
    </div>
    <div class="result_body">
      <div class="result_name"><%= link_to contractor.name, profile_path(contractor) %></div>
      <div class="result_location">
        <%= link_to (image_tag "/images/location_pin.png", :alt => "Location"), "http://maps.google.com/maps/api/staticmap?size=640x640&sensor=false&zoom=16&markers=#{contractor.latitude}%2C#{contractor.longitude}" %>
        <%= contractor.location.city + ", " + contractor.location.state %>
      </div>
    </div>
    <div class="result_infos">
      <div class="result_numbers">
        <dl>
          <dd>
            <%= contractor.user.bids.count %> 
          </dd>
          <dt>
            Active Bids
          </dt>
        </dl>
        <%= link_to('Send Message', contact_owner_profile_path(contractor), "data-controls-modal" => "contact-profile-modal-" + contractor.id.to_s , "data-backdrop" => "true", :class => 'btn') %>
        <%= link_to "Company Overview", profile_path(contractor), :class => "btn info" %>
      </div>
    </div>
  </div>
  <div id="contact-profile-modal-<%= contractor.id %>" class="contact-profile-modal modal hide fade">
    <div class="modal-header">
      <a href="#" class="close">×</a>
      <h3>Contact: <%= contractor.name %></h3>
    </div> 
    <%= form_tag(contact_owner_profile_path(contractor), :remote => true, "data-type" => "text" )  do %>
      <div class="modal-body form-stacked">
        <label>Message Body</label>
        <%= text_area_tag :message_body %>
      </div> 
      <div class="modal-footer">
        <%= submit_tag "Send", :class => "btn primary" %>
      </div> 
    <% end %>
  </div>

<% end %>
<%= render "/result_location_lightbox" %>
<% content_for :javascript do %>
  <script type="text/javascript">
    $(document).ready(function() {
      $(".contact-profile-modal form")
        .bind('ajax:complete', function(evt, data, status, xhr){
          $(this).parents(".contact-profile-modal").modal('hide');
        })
        .bind('ajax:success', function(evt, data, status, xhr){
          $("#wrapper").prepend("<p class='alert-message success'>" + xhr.responseText + "</p>");
        })
        .bind('ajax:error', function(evt, xhr, status, error){
          $("#wrapper").prepend("<p class='alert-message error'>" + xhr.responseText + "</p>");
        });
    });
  </script>
<% end%>

