<div class="results_order">
  <%= link_to "name", search_path(@search, :order => :name), :class => (@search.order == :name.to_s ? 'active' : '') %>
  <%= link_to "distance", search_path(@search, :order => :distance), :class => (@search.order == :distance.to_s ? 'active' : '') unless @search.location.blank? %>
</div>
<% @search.results.each do |developer| %>
  <div class="search_result developer span12 row">
    <div class="span2 ">
      <%= link_to (image_tag "/images/company_square.png", :alt => "Developer"), profile_path(developer) %>
    </div>
    <div class="span7">
      <div class="result_name"><%= link_to developer.name, profile_path(developer) %></div>
      <div class="result_location">
        <%= link_to (image_tag "/images/location_pin.png", :alt => "Location"), "http://maps.google.com/maps/api/staticmap?size=640x640&sensor=false&zoom=16&markers=#{developer.latitude}%2C#{developer.longitude}" %>
        <%= developer.location.city + ", " + developer.location.state %>
      </div>
    </div>
    <div class="span3 alpha">
      <div class="result_numbers">
        <%= developer.user.project.count %> Projects
      </div>
      <%= link_to "Company Overview", profile_path(developer), :class => "btn info" %>
    </div>
  </div>
<% end %>
<% content_for :javascript do %>
  <%= javascript_include_tag "jquery.lightbox" %>
  <script type="text/javascript">
    $(document).ready(function() {
      $('.result_location a').lightBox({
        imageLoading: '/images/lightbox/lightbox-ico-loading.gif',
        imageBtnClose: '/images/lightbox/lightbox-btn-close.gif',
        imageBlank: '/images/lightbox/lightbox-blank.gif'
      });
    });
  </script>
<% end%>

