<% @search.results.each do |developer| %>
  <div class="search_result developer span12 row">
    <div class="span2 ">
      <%= link_to (image_tag "/images/company_square.png", :alt => "Developer"), profile_path(developer) %>
    </div>
    <div class="span7">
      <div class="result_name"><%= link_to developer.name, profile_path(developer) %></div>
      <div class="result_location"><%= developer.location.city + ", " + developer.location.state %></div>
    </div>
    <div class="span3 alpha">
      <div class="result_numbers">
        <%= developer.user.project.count %> Projects
      </div>
      <%= link_to "Company Overview", profile_path(developer), :class => "btn info" %>
    </div>
  </div>
<% end %>
