<div class="results_order">
  <%= link_to_unless @search.order == :name.to_s, "name", search_path(@search, :order => :name), :class => (@search.order == :name.to_s ? 'active' : '') %>
  <%= link_to_unless @search.order == :distance.to_s, "distance", search_path(@search, :order => :distance), :class => (@search.order == :distance.to_s ? 'active' : '') unless @search.location.blank? %>
  <%= link_to_unless @search.order == :value.to_s, "credit value", search_path(@search, :order => :value), :class => (@search.order == :value.to_s ? 'active' : '') %>
  <%= link_to_unless @search.order == :time_left.to_s, "time left", search_path(@search, :order => :time_left), :class => (@search.order == :time_left.to_s ? 'active' : '') %>
</div>
<%= render :partial => "/projects/project", :collection => @search.results %>
<%= render "/result_location_lightbox" %>
