<% content_for :top_banner do %>
  <div class="container">
    <div class="search_header row">
      <div class="span11">
        <% if @search.q.blank? %>
          <h1 class="search_header">Browse <span><%= @search.section.titleize %></span></h1>
        <% else %>
          <h1 class="search_header">You Searched for "<span><%= @search.q %></span>"</h1>
        <% end %>
      </div>
      <div class="span5">
        <div class="search_actions">
          <%= link_to "Post a Project", new_project_path, :class => 'btn large primary' if current_user.present? && current_user.developer? %>
        </div>
      </div>
    </div>
    <ul class="tabs">
      <li class="<%= @search.section_matches?(:projects)    ? 'active' : '' %>">
        <%= link_to "Projects", search_index_path("search[q]" => @search.q, "search[section]" => :projects) %>
      </li>
      <li class="<%= @search.section_matches?(:contractors) ? 'active' : '' %>">
        <%= link_to "Contractors", search_index_path("search[q]" => @search.q, "search[section]" => :contractors) %>
      </li>
      <li class="<%= @search.section_matches?(:developers)  ? 'active' : '' %>">
        <%= link_to "Developers", search_index_path("search[q]" => @search.q, "search[section]" => :developers) %>
      </li>
    </ul>
  </div>
<% end %>
<div class="search-page row">
  <div class="span4 ">
    <div class="search_filters ">
      <%= form_for @search, :url => search_index_path, :method => :get do |f| %>
        <%= f.hidden_field :section %>
        <%= f.hidden_field :order %>
        <h5>Filter your results by:</h5>
        <div class="filter filter_q">
          <%= f.text_field :q, :placeholder => 'Search...' %>
        </div>
        <div class="filter filter_location ">
          <h6>Location:</h6>
          <table>
            <tr>
              <td>Within</td>
              <td>&nbsp;</td>
              <td>Your zip</td>
            </tr>
            <tr>
              <td>
                <%= f.select :distance, [["5 miles", 5], ["10 miles", 10], ["15 miles", 15], ["20 miles", 20], ["30 miles", 30], ["40 miles", 40], ["50 miles", 50], ["100 miles", 100]], {}, {:class => "span3"} %>
              </td>
              <td>of</td>
              <td>
                <%= f.text_field :location, :size => 7, :class => "span2" %>
              </td>
            </tr>
          </table>
        </div>

        <div class="filter filter_type">
          <h6>Type:</h6>
          <ul class="inputs-list">
            <% ProjectType.order(:type_name).each do |pt| %>
              <li> 
                <label>
                  <%= check_box_tag 'search[type_ids][]', pt.id, @search.type_ids.include?(pt.id.to_s) %> 
                  <span><%= pt.type_name %></span>
                </label> 
              </li>
            <% end %>
          </ul>
        </div>
        <div class="filter filter_submit">
          <%= f.submit 'Search', :class => 'float_right btn primary' %>
        </div>
      <% end %>
    </div> <!-- /.search_filters -->
  </div>
  <div class="span12 ">
    <div class="search_results ">
      <% if @search.results.present? %>
        <%= render @search.section %>
      <% else %>
        <div class="search_result no_result ">
          <h1>There weren't any exact matches for your search.</h1>
          <h2>Please modify filters and search again.</h2>
        </div>
      <% end %>
    </div>
  </div>
</div>
