<%= form_for [@project, @bid] do |f| %>
  <div class="row">
    <% if @bid.errors.any? %>
      <div class="alert-message block-message error">
        <strong><%= pluralize(@bid.errors.count, "error") %> prohibited this bid from being saved:</strong>

        <ul>
        <% @bid.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  </div>
    
  <div class="row form-stacked">
    <ul class="line_items">
      <% cnt = 0 %>
      <%= f.fields_for :line_item_bids do |line_item_bid_form| %>
        <%= line_item_bid_form.hidden_field :line_item_id %>
        <li class="line_item ">
          <div class="content ">
            <span class="cnt"><%= cnt = cnt + 1 %></span>
            <%= line_item_bid_form.object.line_item.content %>
          </div>
          <div class="units ">
            <% if line_item_bid_form.object.line_item.units.present? %>
              <div class="input-prepend ">
                <span class="add-on">X</span>
                <%= line_item_bid_form.text_field :unit_cost, :value => number_with_precision(line_item_bid_form.object.unit_cost, :precision => 2), :size => 5, :placeholder => 'Unit Cost', :class => 'line_item_unit_cost ' %>
              </div>

              <div class="input-prepend ">
                <span class="add-on">$</span>
                <%= line_item_bid_form.text_field :cost, :value => number_with_precision(line_item_bid_form.object.cost, :precision => 2), :size => 10, :placeholder => 'Cost', :readonly => 'true', :class => 'line_item_cost calculated_line_item_cost ' %>
              </div>
            <% else %>
              <div class="input-prepend ">
                <span class="add-on">$</span>
                <%= line_item_bid_form.text_field :cost, :value => number_with_precision(line_item_bid_form.object.cost, :precision => 2), :size => 10, :placeholder => 'Cost', :class => 'line_item_cost ' %>
              </div>
            <% end %>
          </div>
          <% if ! line_item_bid_form.object.line_item.units.nil? %>
            <span class="line_item_units"><%= line_item_bid_form.object.line_item.units %></span>
          <% end %>
        </li>
      <% end %>
      <li class="line_item bid_total">
        <div class="content span8">
          <span class="label success"><%= @project.credit_value %></span> Credit Value
        </div>
        <div class="units span3 alpha form-stacked">
          <%= f.label :total %>
          <div class="input-prepend span3">
            <span class="add-on">$</span>
            <%= f.text_field :total, :value => number_with_precision(f.object.total, :precision => 2), :id => 'bid_total', :size => 10, :readonly => 'true', :class => "" %>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <div class="row">
    <%= f.submit "Save As Draft", :name => :draft, :class => 'float_right btn info large' unless (@bid.published? || @bid.cancelled? || @bid.awarded? || @bid.held?) %>
    <%= f.submit "Cancel Bid", :name => :cancel, :class => 'float_right btn danger large' if (@bid.draft? || @bid.published?) %>
    <%= f.submit "Publish Bid", :name => :publish, :class => 'float_right btn primary large' %>
  </div>
<% end %>
<% content_for :javascript do %>
  <script type="text/javascript">
    $(document).ready(function() {
      $("input.line_item_cost").sum({
        bind: "keyup",
        selector: "#bid_total",
        oncalc: function(value, settings) {
          $(settings.selector).val(value.toFixed(2));
        }
      });
      
      $("input.line_item_unit_cost").bind("keyup", recalc);
      function recalc(event) {
        $('.calculated_line_item_cost').calc(
          "units * cost", { 
            units: $(".line_item_units"),
            cost: $(".line_item_unit_cost") 
          }, 
          function (s){ 
            return s.toFixed(2); 
          }, 
          function ($this){ 
            var sum = $("input.line_item_cost").sum(); 
            $("#bid_total").val( sum.toFixed(2) ); 
          } 
        );
      }
    });
  </script>
<% end %>
