<% content_for :top_banner do %>
  <div class="container">
    <%= render "/projects/header" %>
    <ul class="tabs" data-tabs="tabs">
      <li><%= link_to 'Project Scope', project_path(@project, :anchor => 'scope') %></li>
      <li>
        <%= link_to project_path(@project, :anchor => 'docs') do %>
          Documents <%= ("(#{@project.project_documents.doc.size()})") unless @project.project_documents.doc.empty? %>
        <% end %>
      </li>
      <li>
        <%= link_to project_path(@project, :anchor => 'photos') do %>
          Photos <%= ("(#{@project.project_documents.image.size()})") unless @project.project_documents.image.empty? %>
        <% end %>
      </li>
      <% if may_admin_project? %>
        <li class="active">
          <%= link_to project_path(@project, :anchor => 'bids') do %>
            Bids <%= ("(#{@project.bids.published.size()})") unless @project.bids.published.empty? %>
          <% end %>
        </li>
      <% elsif @bid.user == current_user %>
        <li class="active"><a href="#my_bid">My Bid</a></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="row">
  <div class="span11">
    <%= render :partial => "/projects/bid_bubble", :locals => { :bid => @bid } %>
    <% if @project.user == current_user && @project.award_period? %>
      <div class="span11">
        <div class="search_result bid award_cta">
          <% if @bid.published? %>
            <%= link_to 'Award Project', award_project_bid_path(@project, @bid), :class => 'btn large primary', "data-controls-modal" => "award-project-modal", "data-backdrop" => "true" %> 
          <% elsif @bid.awarded? %>
            <h1>Award Pending</h1>
            <h2><%= link_to @bid.user.name, profile_path(@bid.user.profile) %></h2>
          <% elsif @bid.accepted? %>
            <h1>Project Awarded</h1>
            <h2><%= link_to @bid.user.name, profile_path(@bid.user.profile) %></h2>
          <% end %>
        </div>
      </div>
      <div id="award-project-modal" class="modal hide fade">
        <div class="modal-header">
          <a href="#" class="close">×</a>
          <h3>Send an award notification e-mail</h3>
        </div> 
        <div class="award_explanation">
          <strong>Congrats!</strong> You've found a contractor for your project.  This award notification e-mail will notify your contractor.
        </div>
        <%= form_tag(award_project_bid_path(@project, @bid), :remote => true, "data-type" => "text" )  do %>
          <div class="modal-body form-stacked">
            <label>Include a personal note <em>(Optional)</em></label>
            <%= text_area_tag :message_body %>
          </div> 
          <div class="modal-footer">
            <%= submit_tag "Send", :class => "btn primary" %>
          </div> 
        <% end %>
      </div>
      <% content_for :javascript do %>
        <script type="text/javascript">
          $(document).ready(function() {
            $("#award-project-modal form")
              .bind('ajax:complete', function(evt, data, status, xhr){
                $("#award-project-modal").modal('hide');
              })
              .bind('ajax:success', function(evt, data, status, xhr){
                $("#wrapper").prepend("<p class='alert-message success'>" + xhr.responseText + "</p>");
              })
              .bind('ajax:error', function(evt, xhr, status, error){
                $("#wrapper").prepend("<p class='alert-message error'>" + xhr.responseText + "</p>");
              });
          });
        </script>
      <% end %>
    <% elsif @bid.awarded? && @bid.user == current_user %>
      <div class="span11">
        <div class="search_result bid award_cta">
          <h1><%= image_tag '/images/orange_flag.png' %> Congratulations!</h1>
          <p>You have been awarded the <strong>"<%= @project.name %>."</strong> Please review your bid and accept the project.</p>
          <% if message = @bid.award_message %>
            <div class="award_message">
              <div><%= message.body %></div>
              <strong class="signature"><%= message.sender.name %></strong>
            </div>
          <% end %>
          <div class="award_actions">
            <%= link_to 'Accept Project', accept_project_bid_path(@project, @bid), :class => 'btn large primary', "data-controls-modal" => "accept-project-modal", "data-backdrop" => "true" %> 
          </div>
        </div>
      </div>
      <div id="accept-project-modal" class="modal hide fade">
        <div class="modal-header">
          <a href="#" class="close">×</a>
          <h3><%= image_tag '/images/orange_flag.png' %> Accept your bid award</h3>
        </div> 
        <div class="award_explanation">
          <strong>Congrats!</strong> Your bid was awarded by the project creator.  Accept to commit to the project.
        </div>
        <%= form_tag(accept_project_bid_path(@project, @bid), :remote => true, "data-type" => "text" )  do %>
          <div class="modal-body form-stacked">
            <label>Include a personal note <em>(Optional)</em></label>
            <%= text_area_tag :message_body %>
          </div> 
          <div class="modal-footer">
            <%= submit_tag "Send", :class => "btn primary" %>
          </div> 
        <% end %>
      </div>
      <% content_for :javascript do %>
        <script type="text/javascript">
          $(document).ready(function() {
            $("#accept-project-modal form")
              .bind('ajax:complete', function(evt, data, status, xhr){
                $("#accept-project-modal").modal('hide');
              })
              .bind('ajax:success', function(evt, data, status, xhr){
                $("#wrapper").prepend("<p class='alert-message success'>" + xhr.responseText + "</p>");
              })
              .bind('ajax:error', function(evt, xhr, status, error){
                $("#wrapper").prepend("<p class='alert-message error'>" + xhr.responseText + "</p>");
              });
          });
        </script>
      <% end %>
    <% end %>
    <div class="row form-stacked">
      <ul class="line_items">
        <% @bid.line_item_bids.each_with_index do |line_item_bid, cnt| %>
          <li class="line_item ">
            <div class="content ">
              <span class="cnt"><%= cnt + 1 %></span>
              <%= line_item_bid.line_item.content %>
            </div>
            <div class="units ">
              <% if line_item_bid.line_item.units.present? %>
                <span class="multiply_explainer">x Unit Cost</span>
                <span class="label unit_cost"><%= number_to_currency line_item_bid.unit_cost %></span>
              <% end %>
              <span class="line_item_total"><%= number_to_currency line_item_bid.cost %></span>
            </div>
            <% if line_item_bid.line_item.units.present? %>
              <span class="units"><%= line_item_bid.line_item.units %></span>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>

    <div class="row ">
      <div class="field float_right">
        <label>Total</label>
        <%= number_to_currency @bid.total %>
      </div>
    </div>
  </div> <!-- /.span11 -->

  <%= render '/projects/sidebar' %>
</div> <!-- /.row -->
