<h1>Bid for <%= @project.name %></h1>
<div class="row">
  <div class="span8 ">
    <div class="field row">
      <label class="span2 alpha">Bidder:</label>
      <span class="span6"><%= @bid.user.email %></span>
    </div>
  </div>
  <div class="span8">
    <div class="field row">
      <label class="span2">Posted</label>
      <span><%= @bid.created_at.to_formatted_s(:long) %></span>
    </div>
  </div>
</div>

<div class="row form-stacked">
  <label class="">Line Items</label>
  <ul class="line_items">
    <% @bid.line_item_bids.each do |line_item_bid| %>
      <li class="line_item <%= cycle("odd", "even") -%>">
        <span class="content"><%= line_item_bid.line_item.content %></span>
        <span class="cost"><%= number_to_currency line_item_bid.cost %></span>
        <% if ! line_item_bid.line_item.units.nil? %>
          <span class="unit_cost">x <%= number_to_currency line_item_bid.unit_cost %> = </span>
          <span class="units"><%= line_item_bid.line_item.units %></span>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>

<div class="row ">
  <div class="field float_right">
    <label>Total</label>
    <%= number_to_currency @bid.total %>
  </div>
</div>

<div class="row actions">
  <%= link_to 'Edit', edit_project_bid_path(@bid), :class => 'btn primary large' if may_admin_bid? %> 
  <%= link_to 'Back to Project', project_path(@project), :class => 'btn large' %>
</div>
