<%= div_for(notification, :class => read_class + ' conversation row') do %>
  <div class="notification"></div>
  <div class="sender_photo span1">
    <%= link_to "msg", notification_path(notification) %>
    <%if notification.notified_object.nil? %>
      <%= notification.notified_object %>
    <%else%>
      <%= link_to notification.notified_object.sender.email, notification %>
    <%end%>
  </div>
  <div class="content_left span2">
    <div class="date">
      <%= time_ago_in_words(notification.created_at) %> ago
    </div>
  </div>
  <div class="content_right span5">
    <div class="subject">
      <%= raw  notification.subject %>
    </div>
    <div class="briefing">
      <%= raw notification.body %>
    </div>
  </div>
  <div class="action span1">  
    <% if notification.is_unread?(@actor) %>
      <%= link_to('[READ]', notification_path(notification, :page => params[:page], :read => "Read"), :method => :put, :remote => true) %>
    <% end%>
    
    <%= link_to('[DELETE]', notification_path(notification, :page => params[:page]), :confirm => 'notification.destroy_sure', :method => :delete, :remote => true) %>
  </div>
<% end %>
