  <div class="span4 ">
    <div class="track_filters ">
      <ul>
        <li class="<%= put_if_current_page_and_param('active', notifications_path, :filter) %>"><%= link_to "All (#{@actor.notifications().count})", notifications_path %></li>
        <li class="<%= put_if_current_page_and_param('active', notifications_path, :filter, :unread) %>"><%= link_to "Unread (#{@actor.notifications(:unread).count})", notifications_path(:filter => :unread)%></li>
        <li class="<%= put_if_current_page_and_param('active', notifications_path, :filter, :trash) %>"><%= link_to "Deleted (#{@actor.notifications(:trash).count})", notifications_path(:filter => :trash)%></li>
        <li class="<%= put_if_current_page_and_param('active', notifications_path, :filter, :sent) %>"><%= link_to "Sent (#{@actor.notifications(:sent).count})", notifications_path(:filter => :sent)%></li>
      </ul>
    </div>
  </div>

