<% content_for :top_banner do %>
  <div class="container">
    <%= render 'header' %>
  </div>
<% end %>
<div class="track-page track-projects-page row ">
  <%= render 'sidebar' %>
  <div class="track_results span12 row">
    <% if @notifications.blank? %>
      <div class="search_result no_result project span12 row">
        <h4>No messages found.</h4>
      </div>
    <% else %>
      <div class="results_order">
        &nbsp;
      </div>
    <% end %>
    <% @notifications.each do |notification| %>

      <div class="notification_result ">
        <div class="row">
          <div class="span2 ">
            <% if notification.sender.present? && notification.sender.profile.present? %>
              <%= render :partial => "/profiles/cover_photo", :locals => { :profile => notification.sender.profile } %>
            <% else %>
              <%= image_tag "/images/company_square.png", :alt => "System" %>
            <% end %>
          </div>
          <div class="span8 ">
            <div class="result_name">
              <h6>
                <% if notification.type.present? %>
                  <%= link_to(notification.subject, conversation_path(notification.conversation)) %>
                <% else %>
                  <strong>System Notification</strong>
                <% end %>
              </h6>
              <p class="message_preview">
                <%= raw(truncate(strip_tags(notification.body), :length => 175)) %>
              </p>
              <% if notification.notification_type == :project_award_message.to_s %>
                <p class="message_actions">
                  <%= link_to 'Accept or Decline', project_bid_path(notification.notified_object.project, notification.notified_object), :class => 'btn primary' %>
                </p>
              <% elsif notification.notification_type == :bid_placed_message.to_s %>
                <p class="message_actions">
                  <%= link_to 'View Bid', project_bid_url(notification.notified_object.project, notification.notified_object), :class => 'btn primary' %>
                </p>
              <% elsif notification.notification_type == :project_invite.to_s %>
                <p class="message_actions">
                  <%= link_to 'PROJECT SCOPE', project_path(notification.notified_object), :class => 'btn primary' %>
                </p>
              <% end %>
            </div>
          </div>
          <div class="span2 alpha">
            <div class="result_numbers">
              <%= notification.created_at.to_date.to_s(:tiny) %>
              <%= link_to(notification_path(notification), :class => "btn small delete", :confirm => 'Are you sure?', :method => :delete) do %>
                <%= image_tag "/images/icon_X_delete.png" %>Delete
              <% end %>
              <% unless notification.type.blank? %>
                <%= link_to(conversation_path(notification.conversation), :class => "btn small add") do %>
                  <%= image_tag "/images/icon_plus_add.png" %>View
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <%= paginate @notifications %>
  </div>
</div>
