<div class="row forgot-password-page">
  <div class="offset5 span6 form-stacked">
    <div class="login-box">
      <div class="login-head">
        <h2>Forgot your password?</h2>
      </div>

      <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
        <%= devise_error_messages! %>
        <div class="field">
          <%= f.label :email %>
          <%= f.email_field :email %>
        </div>

        <div class="field"><%= f.submit "Send me reset password instructions", :class => "btn large forgot_pw primary" %></div>
      <% end %>
    </div> <!-- /.login-box -->
    <div class="cta">
      <%= render :partial => "devise/shared/links" %>  
    </div> 
  </div>
</div>
