<% content_for :head do %>
 <%= stylesheet_link_tag "how" %>
<% end %>

<% content_for :head do %>
 <%= javascript_include_tag "jquery.min" %>
<% end %>

<%= link_to "Get Started", new_user_registration_path, :class=> "get_started_link" %>
<div id="how_left">
	<nav>
		<ul>
		<li class="active"><a href="#"><h3>Join the Network</h3></a></li>
		<li class><a href="#"><h3>Browse Projects</h3></a></li>
		<li class><a href="#"><h3>Subscribe</h3></a></li>
		<li class><a href="#"><h3>Online Bidding</h3></a></li>
		</ul>
	</nav>
	
	<%= image_tag "/images/Tools.png", :alt => "Tools", :width => "240px", :height => "160px" %>
	
	<div class="fake-border"></div>
	
	<h6>Download a Site Tutorial PDF</h6>
	<a class="tut_link" id="developer_tut" href="/BBN_Developer_Tutorial.pdf" target="_blank"><span class="bold">Developer</span> Tutorial</a>
	<a class="tut_link" id="contractor_tut" href="/BBN_Contractor_Tutorial.pdf" target="_blank"><span class="bold">Contractor</span> Tutorial</a>
</div>

<div id="how_main_content"></div>

<div id="join_the_network">
	<h1 class ="page_head">A Powerful Networking Tool</h1>

	<div class="register_box"> 
		<%= image_tag "/images/register_icon_stand_in.png", :alt => "register-icon-stand-in", :width => "133px", :height => "70px", :id => "register-icon" %>
		<p>Register now to strengthen your business network and streamline the bidding process. Get access to our extensive professional and project listings, build connections and enjoy the benefits of the centralized BBN marketplace.</p>
		<a class="btn primary" href="#">Register</a>
		<div class="clear"></div>
	</div>
	
	<h3 class="list_header" id="contractors_list_head">Contractors:</h3>
	<ul>
		<li>Build your online presence with your company profile</li>
		<li>Connect with commercial developers</li>
		<li>Search our extensive project and developer listings</li>
		<li>Create and save a comprehensive bidding portfolio</li>
		<li>Bid on more projects</li>
	</ul>
	
	<h3 class="list_header" id="developers_list_head">Developers:</h3>
	<ul>
		<li>Find top contractors with the expertise for your projects</li>
		<li>Post projects quickly and easily</li>
		<li>Ensure that all bidders see project changes</li>
		<li>Make use of industry-leading RFP management tools</li>
		<li>List projects publicly or as "invite-only" for your established contacts</li>
		<li>Get more bids</li>
	</ul>
	
	<%= image_tag "/images/how_man_stand_in.png", :alt =>"Man on Phone", :width => "530px" %>
</div>

<div id="browse_projects">
	<h1 class="page_head">Browse Projects Page</h1>
	
	<p>Search for opportunities and contacts tailored to your business needs.</p>
</div>

<div id="subscribe">
	<h1 class="page_head">Subscribe Page</h1>
	
	<p>Gain exclusive access to the members of the community, detailed project descriptions, and RFPs based on your interests, location and expertise.</p>
</div>

<div id="online_bidding">
	<h1 class="page_head">Online Bidding Page</h1>

	<p>Bid on actual projects or create projects for other members to bid on.  BBN makes bidding on projects easier, simpler, and considerably more cost effective.  A streamlined approach to commercial real estate, business and commerce.</p>
</div>

<script type="text/javascript">
	$(document).ready(function(){ 
		$("#how_main_content").html($("#join_the_network").html());
	})

	$('#how_left nav li').click(function(){
		$(this).siblings().attr('class', '');
		$(this).attr('class', 'active');
		sectionName = $(this).find('h3').html().toLowerCase().replace(/ /g, '_');
		$("#how_main_content").html($("#"+sectionName).html());
	})
</script>