<% content_for :top_banner do %>
  <div class="container building-relationships-container">
    <h2> Building <span>Relationships</span></h2>  
    <ul>
      <li>
        A new way to <span>find</span> and <span>bid</span> on <span>commercial construction projects</span>
      </li>
      <li>
        <span>Create a profile</span> and start building your professional network today
      </li>
      <li>
        <span>Developers:</span> Find contractors in your area and invite them to bid
      </li>
    </ul>
  </div>
<% end %>


<div class="home_page row">
  <div class="span10"> 
    <div class="search_box home_box row">
      <h2>Search for Projects</h2>
      <div class="background">&nbsp;</div>
      <%= form_for Search.new(:section => :projects), :url => search_index_path, :method => :get do |f| %>
        <%= f.hidden_field :section %>
        <table class="span3">
          <tr>
            <td><strong>Within:</strong></td>
            <td>&nbsp;</td>
            <td><strong>Your ZIP:</strong></td>
          </tr>
          <tr>
            <td>
              <%= f.select :distance, [["5 miles", 5], ["10 miles", 10], ["15 miles", 15], ["20 miles", 20], ["30 miles", 30], ["40 miles", 40], ["50 miles", 50], ["100 miles", 100]], {}, {:class => "span3"} %>
            </td>
            <td>of</td>
            <td>
              <%= f.text_field :location, :size => 7, :class => "span2" %>
            </td>
          </tr>
        </table>

        <strong class="span9">Select a Project Type:</strong>
        <%= f.collection_select(:type_ids, ProjectType.order(:name).all, :id, :name, {:prompt => true}, {:class => "type_select span9"}) %>

        <div class="span9">
          <%= f.submit 'Search', :class => 'large btn primary' %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="span6">
   <div class="account_box home_box row">
   <h2>Create an Account- It's Free!</h2>
   <li>Registering an account is required to view, create, and bid on projects.</li>
    <%= form_for(:user, :as => :user, :url => user_session_path) do |f| %>

      <div class="field text">
        <%= f.label :email %>
        <%= f.email_field :email %>
      </div>

      <div class="field text">
        <%= f.label :password %>
        <%= f.password_field :password %>
      </div>

      <div class="field text">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation %>
      </div>

      <div class="field register">
        <%= f.submit "Create Account", :class => "btn large primary" %>
        <div class="terms">
          <span class="field_info span4">
            By signing up you agree to our
          </span>
          <span class="field_info span4">
            <%= link_to "User Agreement", content_page_path('agreement') %>
            and
            <%= link_to "Terms of Service", content_page_path('terms') %>
          </span>
         </div>
      </div>
    <% end %>
    <div class="cta">
      Already have an account?
      <%= link_to "Login ", new_user_session_path %>
    </div>
    </div>
  </div>  
    <div class="span8">
      <div class="perfect_tool_carousel">
        <h2>The Perfect Tool for Bidding in the 21st Century</h2>
          <p>BuildersBidNetwork is a comprehensive marketplace built to give developers and contractors a more efficient way to handle the project bid process. We've built specialized tools to help you create more accurate bids helping to save both sides time and money</p>
          <%= link_to "Get Started Now", new_user_registration_path, :class => "btn large primary" %>
      </div>
   </div>
</div>

