<% content_for :top_banner do %>
  <div class="container">
    <h1>
      <%= image_tag "/images/contact_person_icon.png", :alt => "Avatar", :width => "16px", :height => "16px" %>
      Track My Bids
    </h1>
    <%= render 'tabs' %>
  </div>
<% end %>
<div class="track-page track-bids-page row ">
  <div class="track_filters span5 ">
    <ul>
      <li class="<%= 'active' unless params[:filter] %>"><%= link_to "All Bids", activity_index_path %></li>
      <li class="<%= 'active' if params[:filter] == :draft.to_s %>"><%= link_to "Drafts", activity_index_path(:filter => :draft) %></li>
      <li class="<%= 'active' if params[:filter] == :published.to_s %>"><%= link_to "Published", activity_index_path(:filter => :published) %></li>
      <li class="<%= 'active' if params[:filter] == :cancelled.to_s %>"><%= link_to "Canelled", activity_index_path(:filter => :cancelled) %></li>
      <li class="<%= 'active' if params[:filter] == :awarded.to_s %>"><%= link_to "Awarded", activity_index_path(:filter => :awarded) %></li>
      <li class="<%= 'active' if params[:filter] == :held.to_s %>"><%= link_to "On Hold", activity_index_path(:filter => :held) %></li>
    </ul>
    <dl>
      <dt>Lifetime Bids Posted:</dt>
      <dd><%= current_user.bids.count %> </dd>
      <dt>Last Login:</dt>
      <dd><%= current_user.last_sign_in_at.to_formatted_s :long %> </dd>
    </dl>
  </div>
  <div class="track_results span11 alpha row">
    <% if @bids.blank? %>
      <div class="search_result no_results project span12 row">
        <h4>No bids found.  Get out there!</h4>
        <%= link_to "Search for Projects", search_index_path, :class => 'btn large primary' %>
      </div>
    <% end %>
    <% @bids.each do |bid| %>
      <%= render :partial => "/projects/bid_bubble", :locals => { :bid => bid } %>
    <% end %>
  </div>
</div>
<% content_for :javascript do %>
  <%= javascript_include_tag "jquery.lightbox" %>
  <script type="text/javascript">
    $(document).ready(function() {
      $('.result_location a').lightBox({
        imageLoading: '/images/lightbox/lightbox-ico-loading.gif',
        imageBtnClose: '/images/lightbox/lightbox-btn-close.gif',
        imageBlank: '/images/lightbox/lightbox-blank.gif'
      });
    });
  </script>
<% end%>

