<% content_for :top_banner do %>
  <div class="container">
    <h1>
      <%= image_tag "/images/contact_person_icon.png", :alt => "Avatar", :width => "16px", :height => "16px" %>
      Track My Bids
    </h1>
    <%= render 'tabs' %>
  </div>
<% end %>
<div class="track-page track-bids-page row ">
  <div class="span5 ">
    <div class="track_filters ">
      <ul>
        <li class="<%= 'active' if @filter.blank? || @filter == :published.to_s %>"><%= link_to "Active", activity_index_path(:filter => :published) %></li>
        <li class="<%= 'active' if @filter == :draft.to_s %>"><%= link_to "Drafts", activity_index_path(:filter => :draft) %></li>
        <li class="<%= 'active' if @filter == :held.to_s %>"><%= link_to "On Hold", activity_index_path(:filter => :held) %></li>
        <li class="<%= 'active' if @filter == :awarded.to_s %>"><%= link_to "Awarded", activity_index_path(:filter => :awarded) %></li>
      </ul>
      <dl>
        <dt>Lifetime Bids Posted:</dt>
        <dd><%= current_user.bids.count %> </dd>
        <dt>Last Login:</dt>
        <dd><%= current_user.last_sign_in_at.to_formatted_s :long %> </dd>
      </dl>
    </div>
  </div>
  <div class="span11 ">
    <div class="track_results row">
      <% if @bids.blank? %>
        <div class="span11">
          <div class="search_result no_result project ">
            <h4>No bids found.  Get out there!</h4>
            <%= link_to "Search for Projects", search_index_path, :class => 'btn large primary' %>
          </div>
        </div>
      <% end %>
      <% @bids.each do |bid| %>
        <%= render :partial => "/projects/bid_bubble", :locals => { :bid => bid } %>
      <% end %>
    </div>
  </div>
</div>
<%= render "/result_location_lightbox" %>

