  <div class="span11">
    <div class="search_result bid ">
      <div class="row">
        <div class="span2 ">
          <%= link_to (image_tag "/images/company_square.png", :alt => "Profile", :class => "profile_avatar"), profile_path(bid.user.profile) %>
        </div>
        <div class="span6 ">
          <% unless current_page? activity_index_path(@project) %>
            <div class="result_name">
              <%= link_to bid.user.profile.name, profile_path(bid.user.profile) %>
              <% unless bid.published? %>
                <span class="label warning"><%= bid.state %></span>
              <% end %>
            </div>
            <div class="result_location">
              <%= link_to (image_tag "/images/location_pin.png", :alt => "Location"), "http://maps.google.com/maps/api/staticmap?size=640x640&sensor=false&zoom=16&markers=#{bid.user.profile.latitude}%2C#{bid.user.profile.longitude}" %>
              <%= bid.user.profile.location.city + ", " + bid.user.profile.location.state %>
            </div>
          <% else %>
            <div class="result_name">
              <%= link_to bid.project.name, project_path(bid.project) %>
              <% unless bid.published? %>
                <span class="label warning"><%= bid.state %></span>
              <% end %>
            </div>
            <div class="result_location">
              <%= link_to (image_tag "/images/location_pin.png", :alt => "Location"), "http://maps.google.com/maps/api/staticmap?size=640x640&sensor=false&zoom=16&markers=#{bid.project.latitude}%2C#{bid.project.longitude}" %>
              <%= bid.project.location.city + ", " + bid.project.location.state %>
            </div>
          <% end %>
          <span class="result_type label"><%= bid.project.project_type.name %></span>
          <p class="posted"><%= image_tag "/images/calendar.png" %><strong>Posted:</strong> <%= bid.created_at.to_formatted_s(:short) %></p>
        </div>
        <div class="span3 ">
          <div class="result_numbers">
            <strong><%= number_to_currency bid.total %></strong>
            <dl>
              <dd><%= bid.project.bids.published.size() %></dd>
              <dt>Bids</dt>
            </dl>
            <dl>
              <dd><%= (bid.project.bidding_end.to_date - Date.today).to_i %></dd>
              <dt>Days Left</dt>
            </dl>
            <%= link_to "Bid Details", project_bid_path(bid.project, bid), :class => "btn info" unless current_page? project_bid_path(bid.project, bid) %>
          </div>
        </div>
      </div> <!-- /.row -->
    </div> <!-- /.search_result -->
  </div> <!-- /.row -->
