<%= nested_form_for @project do |f| %>
  <div class="row project_form">
    <div class="span11">
      <% if @project.errors.any? %>
        <div class="alert-message block-message error">
          <strong><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</strong>

          <ul>
            <% @project.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <% unless @project.bidding_start.nil? && @project.bidding_end.nil? %>
      	<% if @project.bidding_period? %>
		  <div class="alert-message block-message error">
	          <strong>Warning:</strong> Any changes made to your project during the bidding
	          period will cause any previously submitted bids to be placed on hold to give
	          their owners opportunity to make any necessary changes.
	        </div>
		<% end %>
      <% end %>

      <div class="project_meta form-stacked">
        <div class="field ">
          <%= f.label :name, :class => "" %>
          <%= f.text_field :name, :class => "" %>
        </div>
        <div class="field ">
          <%= f.label :project_type, "Type", :class => "" %>
          <%= f.collection_select(:project_type_id, ProjectType.order(:name).all, :id, :name, {:prompt => true}, {:class => "type_select"}) %>
        </div>
      </div> <!-- /.project_meta -->

      <div class="project_meta form-stacked ">
        <div class="row">
          <div class="span6 ">
            <div class="field datetime-field">
              <%= f.label :bidding_start, "Posted" %>
              <%= f.datetime_select :bidding_start, :ampm => true, :discard_minute => true %>
            </div>
            <div class="field datetime-field">
              <%= f.label :bidding_end, "Closed" %>
              <%= f.datetime_select :bidding_end, :ampm => true, :discard_minute => true %>
            </div>
          </div>
          <div class="span3">
            <div class="field datetime-field">
              <%= f.label :project_start, "Start&nbsp;Date".html_safe %>
              <%= f.date_select :project_start %>
            </div>
            <div class="field datetime-field">
              <%= f.label :project_end, "End\&nbsp;Date".html_safe %>
              <%= f.date_select :project_end %>
            </div>
          </div>
        </div>
        <div class="field datetime-field">
          <%= f.label :pre_bid_meeting, "Pre-Bid Meeting (Optional)" %>
          <%= f.datetime_select :pre_bid_meeting, :ampm => true, :discard_minute => true, :include_blank => true %>
          <a href="#" id="clear_pre_bid_meeting"><%= image_tag("/images/cross.png", :alt => "[Clear Date]") %></a>
        </div>
      </div> <!-- /.project_meta -->

      <div class="project_meta project_budget form-stacked">
        <%= f.label :estimated_budget, "Estimated Project Budget" %>
        <div class="input-prepend">
          <span class="add-on">$</span>
          <%= f.text_field :estimated_budget %>
        </div>
        <span id="credit_value_label" class="label"><%= @project.credit_value || '0' %></span> Credit Value
        <%= f.hidden_field :credit_value %>
      </div> <!-- /.project_meta -->

      <div class="project_meta form-stacked">
        <%= f.fields_for :location do |location_form| %>
          <div class="field location">
            <%= location_form.label :address1, "Location of Project", :class => "" %>
            <%= location_form.text_field :address1, :class => "", :placeholder => "Street Address" %>
            <%= location_form.text_field :address2, :class => "", :placeholder => "Company, Suite, Floor, etc" %>
            <%= location_form.text_field :city, :class => "city_field", :placeholder => "City" %>
            <%= location_form.select(:state, [     
              ['AL', 'AL'], 
              ['AK', 'AK'],
              ['AZ', 'AZ'],
              ['AR', 'AR'], 
              ['CA', 'CA'], 
              ['CO', 'CO'], 
              ['CT', 'CT'], 
              ['DE', 'DE'], 
              ['DC', 'DC'], 
              ['FL', 'FL'],
              ['GA', 'GA'],
              ['HI', 'HI'], 
              ['ID', 'ID'], 
              ['IL', 'IL'], 
              ['IN', 'IN'], 
              ['IA', 'IA'], 
              ['KS', 'KS'], 
              ['KY', 'KY'], 
              ['LA', 'LA'], 
              ['ME', 'ME'], 
              ['MD', 'MD'], 
              ['MA', 'MA'], 
              ['MI', 'MI'], 
              ['MN', 'MN'],
              ['MS', 'MS'], 
              ['MO', 'MO'], 
              ['MT', 'MT'], 
              ['NE', 'NE'], 
              ['NV', 'NV'], 
              ['NH', 'NH'], 
              ['NJ', 'NJ'], 
              ['NM', 'NM'], 
              ['NY', 'NY'], 
              ['NC', 'NC'], 
              ['ND', 'ND'], 
              ['OH', 'OH'], 
              ['OK', 'OK'], 
              ['OR', 'OR'], 
              ['PA', 'PA'], 
              ['RI', 'RI'], 
              ['SC', 'SC'], 
              ['SD', 'SD'], 
              ['TN', 'TN'], 
              ['TX', 'TX'], 
              ['UT', 'UT'], 
              ['VT', 'VT'], 
              ['VA', 'VA'], 
              ['WA', 'WA'], 
              ['WV', 'WV'], 
              ['WI', 'WI'], 
              ['WY', 'WY']], {}, :class => "") %>
            <%= location_form.text_field :post_code, :size => "5", :class => "zip_field", :placeholder => "Zip/Postal Code" %>
          </div>
        <% end %>
      </div> <!-- /.project_meta -->

      <div class="project_meta form-stacked">
        <div class="field">
          <%= f.label :description, "General Project Description" %><br/>
          <%= f.text_area :description, :class => "", :rows => "5" %>
        </div>
      </div>

      <div class="project_meta project_line_items form-stacked">
        <label class="">Bid Breakdown</label>
        <%= f.fields_for :line_items do |line_item_form| %>
          <div class="field line_item">
            <%= line_item_form.text_field :content, :class => "line_item_content_field", :placeholder => "Line Item" %>
            <%= line_item_form.text_field :units, :class => "line_item_units_field", :placeholder => "Quantity" %>
            <%= line_item_form.link_to_remove image_tag("/images/cross.png", :alt => "[Remove]") %>
          </div> <!-- /row -->
        <% end %>
        <p><%= f.link_to_add "Add a Line Item", :line_items %></p>
      </div>

      <div class="project_meta form-stacked">
        <div class="field">
          <%= f.label :notes, "Additional Notes and Requirements" %><br/>
          <%= f.text_area :notes, :class => "", :rows => "5" %>
        </div>
      </div>

      <% unless @project.project_documents.blank? %>
        <div class="project_meta form-stacked">
          <% @project.project_documents.each do |project_document| %>
            <% unless project_document.id.blank? %>
              <div class="project_document">
                <% if project_document.is_image? %>
                  <%= link_to image_tag(project_document.asset(:thumb), :alt => project_document.asset_file_name), project_document.asset(:original), :class => 'lightbox_thumb', :title => project_document.asset_file_name %>
                <% else %>
                  <%= link_to image_tag(doc_icon_path(project_document), :alt => project_document.asset_file_name), project_document.asset(:original) %>
                <% end %>
                <span class="description"><%= project_document.description || "&nbsp;".html_safe %></span>
                <%= link_to '[DELETE]', [@project, project_document], :confirm => 'Are you sure?', :method => :delete, :class => 'nav nav-destroy' if may_admin_project? %>
              </div>
            <% end%>
          <% end%>
        </div>
      <% end %>

      <div class="">
        <p>
          <label class="span6">
            <%= f.check_box :terms_of_use %>
            I have read and agree to the site's <%= link_to "Terms of Use", content_page_path('terms') %>
          </label>
        </p>
        <% if current_page? new_project_path %>
          <%= f.submit "Save and Continue", :name => :draft, :class => 'btn large primary' %>
        <% else %>
          <%= f.submit "Save As Draft", :name => :draft, :class => 'btn info' %>
          <%= f.submit "Publish Project", :name => :publish, :class => 'btn primary' %>
        <% end %>
      </div>
    </div> <!-- /.span11 -->
    <div class="span5">
      <%= render 'create_help_box' %>
    </div> <!-- /.span5 -->
  </div> <!-- /.project_form -->
<% end %>
<% content_for :javascript do %>
  <script type="text/javascript">
    $.tools.dateinput.conf.format = 'mm-dd-yyyy';
    $(document).ready(function() {
      $('#clear_pre_bid_meeting').click(function(event) {
        $(this).parent().find("select:lt(4)").each(function(index, elem) { $(elem).val(""); });
        $(this).parent().find("input").val("");
        return false;
      });
      $('div.datetime-field').each(function(i, el) {
        var sels = $(el).find("select:lt(3)");
        var d = new Date(sels[0].value, parseInt(sels[1].value) - 1, sels[2].value);
        var field = $('<div class="input-append"><input type="date" /></div>');
        //var field = $('<div class="input-append"><input type="date" /><span class="add-on"><img src="/images/calendar.png"/></span></div>');
        var dateinput = $(field).find('input').dateinput({value: (isValidDate(d) ? d : null), trigger: true, css: {trigger: 'add-on calendar'}});

        // Without this, the field is initially blank
        if(isValidDate(d)) dateinput.val(dateinput.data().dateinput.getValue($.tools.dateinput.conf.format));

        //dateinput.change(function(event, date) {
        dateinput.bind('beforeChange', function(event, date) {
          $(sels[0]).val(date.getFullYear());
          $(sels[1]).val(date.getMonth() + 1);
          $(sels[2]).val(date.getDate());
        });
        $(sels[0]).before(field);
        $(sels).hide();
      });

      $("#project_estimated_budget").bind("change", recalc);
      function recalc(event) {
        var n = $("#project_estimated_budget").val();
        if(isNumber(n)) {
          var v = 0;
          if(n <= 50000) {
            v = 1;
          } else if(n <= 100000) {
            v = 2;
          } else if(n <= 250000) {
            v = 3;
          } else if(n <= 500000) {
            v = 4;
          } else {
            v = 5;
          }
          $("#project_credit_value").val(v);
          $("#credit_value_label").text(v);
        } else {
          $("#project_estimated_budget").val(0);
          $("#credit_value").text(0);
        }
      }

      function isNumber(n) {
        return !isNaN(parseFloat(n)) && isFinite(n);
      }
      function isValidDate(d) {
        if ( Object.prototype.toString.call(d) !== "[object Date]" )
          return false;
        return !isNaN(d.getTime());
      }
    });
  </script>
<% end %>

