<div class="row project_header">
  <div class="span2 project_avatar">
    <%= image_tag "/images/project_square.png", :alt => "Avatar" %>
  </div>
  <div class="span8 ">
    <h1>
      <%= @project.name %>
    </h1>
    <span class="label success"><%= @project.credit_value %></span> Credit Value
    <p class="project_meta">
      <%= link_to @project.user.profile.name, profile_path(@project.user.profile) %>
      &middot;
      <span class="label"><%= @project.project_type.name %></span>
      &middot;
      <%= link_to (image_tag "/images/location_pin.png", :alt => "Location", :class => "location_link"), "http://maps.google.com/maps/api/staticmap?size=640x640&sensor=false&zoom=16&markers=#{@project.latitude}%2C#{@project.longitude}" %>
      <%= @project.location.city %>, <%= @project.location.state %>
    </p>
  </div>
  <div class="span6 project_actions">
    <% if may_admin_project? %>
      <%= link_to 'Edit Project', edit_project_path(@project), :class => 'btn large'  %> 
      <span class="label large">
        <strong><%= @project.bids.count %></strong> Current Bids
      </span>
    <% else %>
      <% if current_page? new_project_bid_path(@project) %>
        <%= link_to 'Project Scope', @project, :class => 'btn ' %> 
      <% else %>
        <%= link_to 'Contact Project Creator', contact_creator_project_path(@project), :class => 'btn large info' %> 
        <%= link_to 'Enter Bid', new_project_bid_path(@project), :class => 'btn large success' %>
      <% end %>
    <% end %>
  </div>
</div>

