<div class="row project_header">
  <div class="span2">
      <%= render :partial => "/projects/cover_photo", :locals => { :project => @project } %>
  </div>
  <div class="span9 ">
    <h1>
      <%= @project.name %>
    </h1>
    <span class="credit_value">
      <span class="label success"><%= @project.credit_value %></span> Credit Value
    </span>
    <div class="project_meta">
      <%= link_to @project.user.profile.name, profile_path(@project.user.profile), :class => 'profile_link' %>
      <h4>
        <%= link_to_if(current_user.subscription_current? || may_admin_project?, (image_tag "/images/location_pin.png", :alt => "Location"), "http://maps.google.com/maps/api/staticmap?size=640x640&sensor=false&zoom=16&markers=#{@project.latitude}%2C#{@project.longitude}", :class => "location_link")%>
        <%= @project.location.city %>, <%= @project.location.state %>
      </h4>
    </div>
  </div>
  <div class="span5 ">
    <div class="project_actions">
      <% if may_admin_project? %>
        <% if @project.state == :draft.to_s %>
          <span class="label large warning">Draft</span>
        <% else %>
          <span class="label large">
            <strong><%= @project.bids.published.count %></strong> Current <%= (@project.bids.published.count == 1 ? "Bid" : "Bids") %>
          </span>
        <% end %>
        <%= link_to 'Edit Project', edit_project_path(@project), :class => 'btn small edit'  %> 
      <% end %>
      <% if current_page? project_path(@project) %>
          <% if current_user.subscription_current? || may_admin_project? %>
            <% if current_user.contractor? %>
              <%= link_to 'Enter Bid', new_project_bid_path(@project), :class => 'btn large success new' if @project.bidding_period? unless has_bid_on_project? %>
              <%= link_to 'Edit Bid', edit_project_bid_path(@project, @project.my_bid(current_user)), :class => 'btn large success edit' if @project.bidding_period? && has_bid_on_project? %>
              <%= link_to 'Send A Message', contact_creator_project_path(@project), :class => 'btn small message', "data-controls-modal" => "contact-creator-modal", "data-backdrop" => "true" unless @project.user == current_user %>
            <% end %>               
          <% else %>
            <%= link_to "Subscribe to Unlock", subscriptions_path, {:class => 'btn large subscribe'} %>
          <% end %>
      <% else %>
        <%= link_to 'Edit Bid', edit_project_bid_path(@project, @project.my_bid(current_user)), :class => 'btn large success edit' if(@project.bidding_period? && has_bid_on_project? && !(current_page? edit_project_bid_path(@project, @project.my_bid(current_user))))%>
        <%= link_to 'Project Scope', @project, :class => 'btn small' %>
      <% end %>
    </div>
  </div>
</div>
<div id="contact-creator-modal" class="modal hide fade">
  <div class="modal-header">
    <a href="#" class="close">×</a>
    <h3>Contact: <%= @project.user.name %> </h3>
  </div> 
  <%= form_tag(contact_creator_project_path(@project), :remote => true, "data-type" => "text" )  do %>
    <div class="modal-body form-stacked">
      <label>Message Body</label>
      <%= text_area_tag :message_body %>
    </div> 
    <div class="modal-footer">
      <%= submit_tag "Send", :class => "btn primary" %>
    </div> 
  <% end %>
</div>
<% content_for :javascript do %>
  <script type="text/javascript">
    $(document).ready(function() {
      $("#contact-creator-modal form")
        .bind('ajax:complete', function(evt, data, status, xhr){
          $("#contact-creator-modal").modal('hide');
        })
        .bind('ajax:success', function(evt, data, status, xhr){
          $("#wrapper").prepend("<p class='alert-message success'>" + xhr.responseText + "</p>");
        })
        .bind('ajax:error', function(evt, xhr, status, error){
          $("#wrapper").prepend("<p class='alert-message error'>" + xhr.responseText + "</p>");
        });
      $('.project_header .project_meta a.location_link').lightBox({
        imageLoading: '/images/lightbox/lightbox-ico-loading.gif',
        imageBtnClose: '/images/lightbox/lightbox-btn-close.gif',
        imageBlank: '/images/lightbox/lightbox-blank.gif'
      });
    });
  </script>
<% end %>
