<div class="row project_header">
  <div class="span2 project_avatar">
    <%= image_tag "/images/project_square.png", :alt => "Avatar" %>
  </div>
  <div class="span8 ">
    <h1>
      <%= @project.name %>
    </h1>
    <span class="label success"><%= @project.credit_value %></span> Credit Value
    <p class="project_meta">
      <%= link_to @project.user.profile.name, profile_path(@project.user.profile) %>
      &middot;
      <span class="label"><%= @project.project_type.name %></span>
      &middot;
      <%= link_to (image_tag "/images/location_pin.png", :alt => "Location", :class => "location_link"), "http://maps.google.com/maps/api/staticmap?size=640x640&sensor=false&zoom=16&markers=#{@project.latitude}%2C#{@project.longitude}" %>
      <%= @project.location.city %>, <%= @project.location.state %>
    </p>
  </div>
  <div class="span6 project_actions">
    <% if may_admin_project? %>
      <%= link_to 'Edit Project', edit_project_path(@project), :class => 'btn large'  %> 
      <span class="label large">
        <strong><%= @project.bids.published.count %></strong> Current Bids
      </span>
    <% end %>
    <% if current_page? project_path(@project) %>
      <%= link_to 'Contact Project Creator', contact_creator_project_path(@project), :class => 'btn large info', "data-controls-modal" => "contact-creator-modal", "data-backdrop" => "true" %> 
      <%= link_to 'Enter Bid', new_project_bid_path(@project), :class => 'btn large success' %>
    <% else %>
      <%= link_to 'Project Scope', @project, :class => 'btn ' %> 
    <% end %>
  </div>
</div>
<div id="contact-creator-modal" class="modal hide fade">
  <div class="modal-header">
    <a href="#" class="close">×</a>
    <h3>Contact: <%= @project.user.name %> </h3>
  </div> 
  <%= form_tag(contact_creator_project_path(@project), :remote => true, "data-type" => "text" )  do %>
    <div class="modal-body form-stacked">
      <label>Message Body</label>
      <%= text_area_tag :message_body %>
    </div> 
    <div class="modal-footer">
      <%= submit_tag "Send", :class => "btn primary" %>
    </div> 
  <% end %>
</div>
<% content_for :javascript do %>
  <script type="text/javascript">
    $(document).ready(function() {
      $("#contact-creator-modal form")
        .bind('ajax:complete', function(evt, data, status, xhr){
          $("#contact-creator-modal").modal('hide');
        })
        .bind('ajax:success', function(evt, data, status, xhr){
          $("#wrapper").prepend("<p class='alert-message success'>" + xhr.responseText + "</p>");
        })
        .bind('ajax:error', function(evt, xhr, status, error){
          $("#wrapper").prepend("<p class='alert-message error'>" + xhr.responseText + "</p>");
        });
    });
  </script>
<% end %>
