  <div class="span5 project_sidebar">
    <div class="sidebar_box project_timeline">
      <div class="sidebar_number">
        <strong><%= (@project.bidding_end.to_date - Date.today).to_i %></strong> 
        <p>
          <span>Days Left To Bid</span>
          <em><label>Posted on:</label> <%= @project.created_at.to_date.to_formatted_s(:short) %></em>
        </p>
      </div>
      <div class="sidebar_flag">
        <% if @project.award_period? %>
          <label class="award">Bidding Closed</label>
          <span class="award"><%= @project.bidding_end.to_formatted_s(:med) %></span>
        <% else %>
          <label>Bidding Closes</label>
          <span><%= @project.bidding_end.to_formatted_s(:med) %></span>
        <% end %>
        <div class="sidebar_triangle left"></div>
        <div class="sidebar_triangle right"></div>
      </div>
      <h1>Project Timeline</h1>
      <ul>
        <li>
          <label>Bidding Starts</label>
          <span><%= @project.bidding_start.to_formatted_s(:med) %></span>
        </li>
        <li>
          <label>Pre-Bid Meeting</label>
          <span><%= @project.pre_bid_meeting.to_formatted_s(:med) %></span>
        </li>
        <li>
          <label>Estimated Start</label>
          <span><%= @project.project_start.to_formatted_s(:med) %></span>
        </li>
        <li>
          <label>Estimated Finish</label>
          <span><%= @project.project_end.to_formatted_s(:med) %></span>
        </li>
      </ul>
    </div>
  </div>
