<% content_for :body_class, "project_page manage_access_page" %>
<% content_for :top_banner do %>
  <div class="container">
    <%= render "header" %>
    <%= render "linked_tabs" %>
  </div>
<% end %>
<div class="row project_page">
  <div class="span11 project_content">
    <div class="invite_by_email">
      <h3>Invite Contractors by E-Mail</h3>
      <%= form_tag invite_by_email_project_path(@project) do %>
        <%= text_field_tag :email_address, nil, :placeholder => "Enter e-mail address..." %>
        <%= text_area_tag :message_body, nil, :placeholder => "Enter a message....", :rows => 5 %>
        <%= submit_tag "Send E-Mail", :class => 'btn primary' %>
      <% end %>
    </div>
    <div class="invited_emails">
      <% @project.privileged_users.never_logged_in.each do |user| %>
        <%= link_to revoke_access_project_path(@project, { :user_id => user.id }), :method => :delete, :confirm => 'Are you sure?', :class => 'btn small delete' do %>
          <%= user.email %> <%= image_tag '/images/icon_X_delete.png' %> 
        <% end %>
      <% end %>
    </div>
    <% @project.privileged_users.has_logged_in.each do |user| %>
      <div class="search_result manage_access_result contractor ">
        <div class="result_image ">
          <%= render :partial => "/profiles/cover_photo", :locals => { :profile => user.profile } %>
        </div>
        <div class="result_body">
          <div class="result_name"><%= link_to_if user.profile.present?, user.name, profile_path(user.profile) %></div>
            <% if user.profile.present? %>
            <div class="result_location">
              <%= link_to (image_tag "/images/location_pin.png", :alt => "Location"), "http://maps.google.com/maps/api/staticmap?size=640x640&sensor=false&zoom=16&markers=#{user.profile.latitude}%2C#{user.profile.longitude}" %>
              <%= user.profile.location.city + ", " + user.profile.location.state %>
            </div>
            <span class="sector"><%= user.profile.type_name %></span>
          <% end %>
        </div>
        <div class="result_infos">
          <%= link_to revoke_access_project_path(@project, { :user_id => user.id }), :method => :delete, :confirm => 'Are you sure?', :class => 'btn small delete' do %>
            <%= image_tag '/images/icon_X_delete.png' %> Remove
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <%= render 'sidebar' %>

  <% content_for :javascript do %>
    <%= javascript_include_tag "jquery.lightbox" %>
    <script type="text/javascript">
      $(document).ready(function() {
        $('.project_document a.lightbox_thumb').lightBox({
          imageLoading: '/images/lightbox/lightbox-ico-loading.gif',
          imageBtnClose: '/images/lightbox/lightbox-btn-close.gif',
          imageBlank: '/images/lightbox/lightbox-blank.gif'
        });
      });
    </script>
  <% end%>
</div>
