<% content_for :body_class, "project_page manage_access_page" %>
<% content_for :top_banner do %>
  <div class="container">
    <%= render "header" %>
    <%= render "linked_tabs" %>
  </div>
<% end %>
<div class="row project_page">

  <%= render 'manage_access_sidebar' %>

  <div class="span11 project_content">

    <%= render "manage_access_#{@mode}" %>

  </div>

  <% content_for :javascript do %>
    <%= javascript_include_tag "jquery.lightbox" %>
    <script type="text/javascript">
      $(document).ready(function() {
        $('.project_document a.lightbox_thumb').lightBox({
          imageLoading: '/images/lightbox/lightbox-ico-loading.gif',
          imageBtnClose: '/images/lightbox/lightbox-btn-close.gif',
          imageBlank: '/images/lightbox/lightbox-blank.gif'
        });
      });
    </script>
  <% end%>
</div>
