<%= render 'meta' %>

<div class="grid_12 alpha omega">
  <label class="grid_12 alpha omega">Line Items</label>
  <ul class="grid_12 line_items">
    <% @project.line_items.each do |line_item| %>
      <li class="line_item <%= cycle("odd", "even") -%>">
        <span class="content"><%= line_item.content %></span>
        <span class="units"><%= line_item.units %></span>
      </li>
    <% end %>
  </ul>
</div>

<div class="grid_12 alpha omega">
  <label class="grid_12 alpha omega">Documents</label>
  <% @project.project_documents.each do |project_document| %>
    <div class="project_document">
      <% if project_document.is_image? %>
        <%= link_to image_tag(project_document.asset(:thumb), :alt => project_document.asset_file_name), project_document.asset(:original), :class => 'lightbox_thumb', :title => project_document.asset_file_name %>
      <% else %>
        <%= link_to image_tag(doc_icon_path(project_document), :alt => project_document.asset_file_name), project_document.asset(:original) %>
      <% end %>
      <span class="description"><%= project_document.description || "&nbsp;".html_safe %></span>
      <%= link_to '[DELETE]', [@project, project_document], :confirm => 'Are you sure?', :method => :delete, :class => 'nav nav-destroy' if may_admin? %>
    </div>
  <% end%>
  <% if may_admin? %>
    <%= form_for [@project, @project.project_documents.build], :html => { :multipart => true } do |project_doc_form| %>
      <%= project_doc_form.label :asset %>
      <%= project_doc_form.file_field :asset %>
      <%= project_doc_form.label :description %>
      <%= project_doc_form.text_field :description %>
    
      <%= project_doc_form.submit %>
    <% end %>
  <% end %>
</div>
<% content_for :javascript do %>
  <%= javascript_include_tag "jquery.lightbox-0.5" %>
  <script type="text/javascript">
    $(document).ready(function() {
      $('.project_document a.lightbox_thumb').lightBox({
        imageLoading: '/images/lightbox/lightbox-ico-loading.gif',
        imageBtnClose: '/images/lightbox/lightbox-btn-close.gif',
        imageBlank: '/images/lightbox/lightbox-blank.gif'
      });
    });
  </script>
<% end%>

<% if ! @project.bids.nil? %>
<div class="grid_12 alpha omega">
  <label class="grid_12 alpha omega">
  	Bids
    <% if may_admin? %>
      <span class="message owner">You are the project owner, and would see this list.</span>
    <% else %>
      <span class="message viewer">You are NOT the project owner, so would not see this list.</span>
    <% end%>
  </label>
  <table class="grid_12 project_bids">
    <tr>
      <th class="bidder">Bidder</th>
      <th class="bid_date">Date Submitted</th>
      <th class="total">Total</th>
  	</tr>
    <% @project.bids.each do |bid| %>
      <tr class="project_bid <%= cycle("odd", "even") -%>">
      	<td class="bidder"><%= link_to bid.user.email, [@project, bid] %></td>
      	<td class="bid_date"><%= bid.created_at.to_date.to_formatted_s(:long) %></td>
      	<td class="total"><%= number_to_currency bid.total %></td>
      </tr>
    <% end %>
  </table>
</div>
<% end %>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %> |
<%= link_to 'Contact Project Creator', contact_creator_project_path(@project) %> |
<%= link_to 'Enter Bid', new_project_bid_path(@project) %>
