<% content_for :body_class, "project_page" %>
<% content_for :top_banner do %>
  <div class="container">
    <%= render "header" %>
    <ul class="tabs" data-tabs="tabs">
      <li class="active"><a href="#scope">Project Scope</a></li>
      <li>
        <a href="#docs">
          Documents <%= ("(#{@project.project_documents.doc.size()})") unless @project.project_documents.doc.empty? %>
        </a>
      </li>
      <li>
        <a href="#photos">
          Photos <%= ("(#{@project.project_documents.image.size()})") unless @project.project_documents.image.empty? %>
        </a>
      </li>
      <% if may_admin_project? %>
        <li>
          <a href="#bids">
            Bids <%= ("(#{@project.bids.published.size()})") unless @project.bids.published.empty? %>
          </a>
        </li>
      <% elsif has_bid_on_project? %>
        <li>
          <%= link_to "My Bid", project_bid_path(@project, @project.my_bid(current_user)) %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
<div class="row project_page">
  <div class="span11 project_content">
    <div class="tab-content">
      <div class="tab-pane active row" id="scope">
        <div class="span6">
          <div class="project_meta">
            <div class="field ">
              <label class="span2">Location</label>
              <address>
                <p><%= @project.location.address1 %></p>
                <% unless @project.location.address2.blank? %>
                  <p><%= @project.location.address2 %></p>
                <% end %>
                <p><%= @project.location.city %>, <%= @project.location.state %>&nbsp; <%= @project.location.post_code %></p>
              </address>
            </div>
          </div> <!-- /project_meta -->
        </div>
        <div class="span5 ">
          <div class="project_meta">
            <div class="field">
              <label class="span2">Project Type</label>
              <span class="label"><%= @project.project_type.name %></span>
            </div>
          </div> <!-- /project_meta -->
        </div>
        <div class="span11 alpha form-stacked">
          <div class="project_meta">
            <label class="">Project Description</label>
            <p class="">
              <%= simple_format @project.description %>
            </p>
          </div>
        </div>
        <div class="span11 alpha form-stacked">
          <div class="project_meta">
            <label class="">Additional Notes and Requirements</label>
            <p class="">
              <%= simple_format @project.notes %>
            </p>
          </div>
        </div>
        <div class="span11 alpha form-stacked">
          <div class="project_meta">
            <label class="">Bid Breakdown</label>
            <ul class="line_items">
              <% @project.line_items.each_with_index do |line_item, index| %>
                <li class="line_item">
                  <strong>Line Item #<%= index + 1 %></strong>
                  <span class="content"><%= line_item.content %></span>
                  <span class="units"><%= line_item.units %></span>
                </li>
              <% end %>
            </ul>
          </div>
        </div>

      </div> <!-- /#scope -->

      <div class="tab-pane" id="photos">
        <div class="row form-stacked editable assets">
          <% if may_admin_project? %>
            <span class="admin-btns">
              <a href="#" class="btn small edit-btn"><%= image_tag "/images/icon_plus_add.png" %> Add Photos</a>
              <!-- Coming soon
              <a href="#" class="btn small select-cover-btn"><%= image_tag "/images/icon_blacksquare_coverphoto.png" %> Select Project Cover Photo</a>
              -->
            </span>
            <div class="add-asset">
              <a href="#" class="btn small cancel-btn">Cancel</a>
              <%= form_for [@project, @project.project_documents.build], :html => { :multipart => true } do |project_doc_form| %>
                <%= project_doc_form.label :asset, "Add Photo" %>
                <%= project_doc_form.file_field :asset %>
                <%= project_doc_form.label :description %>
                <%= project_doc_form.text_field :description %>
              
                <%= project_doc_form.submit "Upload File", {:class => 'btn primary'} %>
              <% end %>
            </div>
          <% end %>

          <ul class="faux-media-grid">
            <% @project.project_documents.image.each do |project_document| %>
              <li class="project_document editable">
                <%= link_to project_document.asset(:original), {:class => 'lightbox_thumb', :title => project_document.asset_file_name} do %>
                  <%= image_tag(project_document.asset(:thumb), :alt => project_document.asset_file_name) %>
                  <div class="description"><%= project_document.description || "&nbsp;".html_safe %></div>
                <% end %>
                <% if may_admin_project? %>
                  <%= form_for [@project, project_document], :remote => true, "data-type" => "text" do |project_doc_form| %>
                    <%= project_doc_form.text_field :description %>
                    <a href="#" class="btn small cancel-btn">Cancel</a>
                    <%= project_doc_form.submit "Save", {:class => 'btn small'} %>
                  <% end %>
                  <span class="edit-btns">
                    <%= link_to [@project, project_document], {:confirm => 'Are you sure?', :method => :delete, :class => 'btn small delete-btn nav nav-destroy'} do %>
                      <%= image_tag "/images/icon_X_delete.png" %> Delete
                    <% end %>
                    <a href="#" class="btn small edit-btn"><%= image_tag "/images/icon_pencil_edit.png" %> Edit</a>
                  </span>
                <% end %>
              </li>
            <% end%>
          </ul>
        </div>
      </div> <!-- /#photos -->

      <div class="tab-pane" id="docs">
        <div class="row form-stacked editable assets">
          <% if may_admin_project? %>
            <span class="admin-btns">
              <a href="#" class="btn small edit-btn"><%= image_tag "/images/icon_plus_add.png" %> Add Documents</a>
            </span>
            <div class="add-asset">
              <a href="#" class="btn small cancel-btn">Cancel</a>
              <%= form_for [@project, @project.project_documents.build], :html => { :multipart => true } do |project_doc_form| %>
                <%= project_doc_form.label :asset, "Add Photo" %>
                <%= project_doc_form.file_field :asset %>
                <%= project_doc_form.label :description %>
                <%= project_doc_form.text_field :description %>
              
                <%= project_doc_form.submit "Upload File", {:class => 'btn primary'} %>
              <% end %>
            </div>
          <% end %>

          <ul class="faux-media-grid">
            <% @project.project_documents.doc.each do |project_document| %>
              <li class="project_document editable">
                <%= link_to project_document.asset(:original) do %>
                  <%= image_tag(doc_icon_path(project_document), :alt => project_document.asset_file_name) %>
                  <span class="description"><%= project_document.description || "&nbsp;".html_safe %></span>
                <% end %>
                <% if may_admin_project? %>
                  <%= form_for [@project, project_document], :remote => true, "data-type" => "text" do |project_doc_form| %>
                    <%= project_doc_form.text_field :description %>
                    <a href="#" class="btn small cancel-btn">Cancel</a>
                    <%= project_doc_form.submit "Save", {:class => 'btn small'} %>
                  <% end %>
                  <span class="edit-btns">
                    <%= link_to [@project, project_document], {:confirm => 'Are you sure?', :method => :delete, :class => 'btn small delete-btn nav nav-destroy'} do %>
                      <%= image_tag "/images/icon_X_delete.png" %> Delete
                    <% end %>
                    <a href="#" class="btn small edit-btn"><%= image_tag "/images/icon_pencil_edit.png" %> Edit</a>
                  </span>
                <% end %>
              </li>
            <% end%>
          </ul>
        </div>
      </div> <!-- /#docs -->

      <% if may_admin_project? %>
        <div class="tab-pane" id="bids">
          <% if @project.bids.published.nil? %>
          <% else %>
            <% @project.bids.published.each do |bid| %>
              <%= render :partial => "bid_bubble", :locals => { :bid => bid } %>
            <% end %>
          <% end %>
        </div> <!-- /#bids -->
      <% end %>
    </div>
  </div>

  <%= render 'sidebar' %>

  <% content_for :javascript do %>
    <%= javascript_include_tag "jquery.lightbox" %>
    <script type="text/javascript">
      $(document).ready(function() {
        if(window.location.hash) $('a[href="' + window.location.hash + '"]').click();
        $('.btn.edit-btn').click(function() {
          $(this).closest('.editable').addClass('edit');
          return false;
        });
        $('.btn.cancel-btn').click(function() {
          $(this).closest('.editable').removeClass('edit');
          return false;
        });
        $(".project_document form")
          .bind('ajax:complete', function(evt, data, status, xhr){
            $(this).closest('.editable').removeClass('edit');
          })
          .bind('ajax:success', function(evt, data, status, xhr){
            $(this).closest('.project_document').find('.description').html(xhr.responseText);
            //$(this).closest('.project_document').html(xhr.responseText);
          })
          .bind('ajax:error', function(evt, xhr, status, error){
            $("#wrapper").prepend("<p class='alert-message error'>" + xhr.responseText + "</p>");
          });
        $('.project_document a.lightbox_thumb').lightBox({
          imageLoading: '/images/lightbox/lightbox-ico-loading.gif',
          imageBtnClose: '/images/lightbox/lightbox-btn-close.gif',
          imageBlank: '/images/lightbox/lightbox-blank.gif'
        });
      });
    </script>
  <% end%>
</div>
