<% content_for :body_class, "project_page" %>
<% content_for :top_banner do %>
  <div class="container">
    <%= render "header" %>
    <ul class="tabs" data-tabs="tabs">
    <% if may_view_project_details? %>
      <li class="active"><a href="#scope">Project Scope</a></li>
      <li>
        <a href="#docs">
          Documents <%= ("(#{@project.project_documents.doc.size()})") unless @project.project_documents.doc.empty? %>
        </a>
      </li>
      <li>
        <a href="#photos">
          Photos <%= ("(#{@project.project_documents.image.size()})") unless @project.project_documents.image.empty? %>
        </a>
      </li>
      <% if may_admin_project? && @project.bids.visible.present? %>
        <li>
          <a href="#bids">
            Bids <%= ("(#{@project.bids.visible.size()})") unless @project.bids.visible.empty? %>
          </a>
        </li>
      <% elsif has_bid_on_project? %>
        <li>
          <%= link_to "My Bid", project_bid_path(@project, @project.my_bid(current_user)) %>
        </li>
      <% end %>
      <% else %>
        <li class="active"><a href="#scope">Project Scope</a></li>
      <li>
      <%end%>
    </ul>
  </div>
<% end %>
<div class="row project_page">
  <div class="span11 project_content">
    <div class="tab-content">
      <div class="tab-pane active row" id="scope">
        <h4 class="span11">Location</h4>
        <div class="span6">
          <div class="project_meta left">
            <div class="field ">
              <address>
               <% if may_view_project_details? %>
                <p><%= @project.location.address1 %></p>
                <% unless @project.location.address2.blank? %>
                  <p><%= @project.location.address2 %></p>
                <% end %>
                <p><%= @project.location.city %>, <%= @project.location.state %>&nbsp; <%= @project.location.post_code %></p>
              <%else%>
              <p><%= @project.location.city %>, <%= @project.location.state %>&nbsp; <%= @project.location.post_code %></p>
              <%end%>
              </address>
            </div>            
            <div class="field map_snapshot">
             <% if may_view_project_details? %>
              <%= link_to (image_tag "http://maps.google.com/maps/api/staticmap?size=271x66&sensor=false&zoom=16&markers=#{@project.latitude}%2C#{@project.longitude}"), "http://maps.google.com/maps/api/staticmap?size=640x640&sensor=false&zoom=16&markers=#{@project.latitude}%2C#{@project.longitude}" %>
            <%else%>
            <%= image_tag "/images/locked_map.png" %>
            <%end%>
            </div>
          </div> <!-- /project_meta -->
        </div>
        <div class="span5 ">
          <div class="project_meta">
            <div class="field">
              <label class="span2">Project Type</label>
              <span class="sector"><%= @project.project_type.type_name %></span>
            </div>
          </div> <!-- /project_meta -->
        </div>
        <div class="span11 alpha form-stacked">
          <div class="project_meta">
            <h4>Project Description</h4>
            <p class="">
             <% if may_view_project_details? %>
               <%= simple_format @project.description %>
             <%else%>
               <li class ="subscribe"> Subscribe to View More</li>
             <%end%>
            </p>
          </div>
        </div>
        <div class="span11 alpha form-stacked">
          <div class="project_meta">
            <h4>Additional Notes and Requirements</h4>
            <p class="">
             <% if may_view_project_details? %>
              <%= simple_format @project.notes %>
            <%else%>
            <li class ="subscribe"> Subscribe to View More </li>
            <%end%>
            </p>
          </div>
        </div>
        <div class="span11 alpha form-stacked">
          <div class="project_meta">
            <h4>Bid Breakdown By Line</h4>
            <ul class="line_items">
             <% if may_view_project_details? %>
              <% @project.line_items.each_with_index do |line_item, index| %>
                <li class="line_item">
                  <strong><%= index + 1 %></strong>
                  <span class="content"><%= line_item.content %></span>
                </li>
              <% end %>
              <%else%>
              <li class ="locked_bid_breakdown">Subscribe to View 
              <%= pluralize(@project.line_items.size(), 'Line Item') %></li>
              <%end%>
            </ul>
          </div>
        </div>

      </div> <!-- /#scope -->

      <div class="tab-pane" id="photos">
        <div class="row form-stacked editable assets">
          <% if may_admin_project? %>
            <span class="admin-btns">
              <a href="#" class="btn small edit-btn"><%= image_tag "/images/icon_plus_add.png" %> Add Photos</a>
              <a href="#" class="btn small select-cover-btn"><%= image_tag "/images/icon_blacksquare_coverphoto.png" %> Select Project Cover Photo</a>
            </span>
            <div class="add-asset">
              <a href="#" class="btn small cancel-btn">Cancel</a>
              <%= form_for [@project, @project.project_documents.build], :html => { :multipart => true } do |project_doc_form| %>
                <%= project_doc_form.label :asset, "Add Photo" %>
                <%= project_doc_form.file_field :asset %>
                <%= project_doc_form.label :description %>
                <%= project_doc_form.text_field :description %>
              
                <%= project_doc_form.submit "Upload File", :disable_with => "Uploading...", :class => 'btn primary' %>
              <% end %>
            </div>
            <div class="select-cover-asset">
              <%= form_tag update_cover_photo_project_path(@project) do %>
                <%= hidden_field_tag 'selected_project_document_id', @project.cover_photo.nil? ? 0 : @project.cover_photo.id %>
                <%= submit_tag 'Confirm Cover Photo Selection', {:class => 'btn small primary confirm-cover-btn'} %>
              <% end %>
              <a href="#" class="btn small cancel-btn">Cancel</a>
            </div>
          <% end %>
          
          <ul class="faux-media-grid">
            <% @project.project_documents.image.each do |project_document| %>
              <li class="project_document editable <%= @project.cover_photo.present? ? project_document.id == @project.cover_photo.id ? 'active' : '' : '' %>">
                <%= link_to project_document.asset(:original), {:class => 'lightbox_thumb', :title => project_document.asset_file_name} do %>
                  <%= image_tag(project_document.asset(:thumb), :alt => project_document.asset_file_name) %>
                  <div class="description"><%= project_document.description || "&nbsp;".html_safe %></div>
                <% end %>
                <% if may_admin_project? %>
                  <%= form_for [@project, project_document], :remote => true, "data-type" => "text" do |project_doc_form| %>
                    <%= project_doc_form.hidden_field :id %>
                    <%= project_doc_form.text_field :description %>
                    <a href="#" class="btn small cancel-btn">Cancel</a>
                    <%= project_doc_form.submit "Save", :disable_with => "Saving...", :class => 'btn small' %>
                  <% end %>
                  <span class="edit-btns">
                    <%= link_to [@project, project_document], {:confirm => 'Are you sure?', :method => :delete, :class => 'btn small delete-btn nav nav-destroy'} do %>
                      <%= image_tag "/images/icon_X_delete.png" %> Delete
                    <% end %>
                    <a href="#" class="btn small edit-btn"><%= image_tag "/images/icon_pencil_edit.png" %> Edit</a>
                  </span>
                <% end %>
              </li>
            <% end%>
          </ul>
        </div>
      </div> <!-- /#photos -->

      <div class="tab-pane" id="docs">
        <div class="row form-stacked editable assets">
          <% if may_admin_project? %>
            <span class="admin-btns">
              <a href="#" class="btn small edit-btn"><%= image_tag "/images/icon_plus_add.png" %> Add Documents</a>
            </span>
            <div class="add-asset">
              <a href="#" class="btn small cancel-btn">Cancel</a>
              <%= form_for [@project, @project.project_documents.build], :html => { :multipart => true } do |project_doc_form| %>
                <%= project_doc_form.label :asset, "Add Photo" %>
                <%= project_doc_form.file_field :asset %>
                <%= project_doc_form.label :description %>
                <%= project_doc_form.text_field :description %>
              
                <%= project_doc_form.submit "Upload File", :disable_with => "Uploading...", :class => 'btn primary' %>
              <% end %>
            </div>
          <% end %>

          <ul class="faux-media-grid">
            <% @project.project_documents.doc.each do |project_document| %>
              <li class="project_document editable">
                <%= link_to project_document.asset(:original) do %>
                  <%= image_tag(doc_icon_path(project_document), :alt => project_document.asset_file_name) %>
                  <span class="description"><%= project_document.description || "&nbsp;".html_safe %></span>
                <% end %>
                <% if may_admin_project? %>
                  <%= form_for [@project, project_document], :remote => true, "data-type" => "text" do |project_doc_form| %>
                    <%= project_doc_form.text_field :description %>
                    <a href="#" class="btn small cancel-btn">Cancel</a>
                    <%= project_doc_form.submit "Save", {:class => 'btn small'} %>
                  <% end %>
                  <span class="edit-btns">
                    <%= link_to [@project, project_document], {:confirm => 'Are you sure?', :method => :delete, :class => 'btn small delete-btn nav nav-destroy'} do %>
                      <%= image_tag "/images/icon_X_delete.png" %> Delete
                    <% end %>
                    <a href="#" class="btn small edit-btn"><%= image_tag "/images/icon_pencil_edit.png" %> Edit</a>
                  </span>
                <% end %>
              </li>
            <% end%>
          </ul>
        </div>
      </div> <!-- /#docs -->

      <% if may_admin_project? %>
        <div class="tab-pane" id="bids">
          <% if @project.bids.visible.nil? %>
          <% else %>
            <% @project.bids.visible.each do |bid| %>
              <%= render :partial => "bid_bubble", :locals => { :bid => bid } %>
            <% end %>
          <% end %>
        </div> <!-- /#bids -->
      <% end %>
    </div>
  </div>

  <%= render 'sidebar' %>

  <% content_for :javascript do %>
    <%= javascript_include_tag "jquery.lightbox" %>
    <script type="text/javascript">
      $(document).ready(function() {
        var isSelectCover = false;
        
        if(window.location.hash) $('a[href="' + window.location.hash + '"]').click();

        $('.btn.edit-btn').click(function() {
          $(this).closest('.editable').addClass('edit');
          return false;
        });
        $('.btn.cancel-btn').click(function() {
          $(this).closest('.editable').removeClass('edit');
        $(this).closest('.editable').removeClass('select-cover');
          isSelectCover = false;
          return false;
        });
        $('.btn.select-cover-btn').click(function() {
          $(this).closest('.editable').addClass('select-cover');
          isSelectCover = true;
          return false;
        });
        $(".project_document form")
          .bind('ajax:complete', function(evt, data, status, xhr){
            $(this).closest('.editable').removeClass('edit');
          })
          .bind('ajax:success', function(evt, data, status, xhr){
            $(this).closest('.project_document').find('.description').html(xhr.responseText);
            //$(this).closest('.project_document').html(xhr.responseText);
          })
          .bind('ajax:error', function(evt, xhr, status, error){
            $("#wrapper").prepend("<p class='alert-message error'>" + xhr.responseText + "</p>");
          });
        $('.project_document a.lightbox_thumb').lightBox({
          imageLoading: '/images/lightbox/lightbox-ico-loading.gif',
          imageBtnClose: '/images/lightbox/lightbox-btn-close.gif',
          imageBlank: '/images/lightbox/lightbox-blank.gif'
        });
        $('.project_meta .map_snapshot a').lightBox({
          imageLoading: '/images/lightbox/lightbox-ico-loading.gif',
          imageBtnClose: '/images/lightbox/lightbox-btn-close.gif',
          imageBlank: '/images/lightbox/lightbox-blank.gif'
        });
        // on project_document click, update the value of the hidden selected_cover_document_id input
        // with the value of the selected project_document_id
        $('.project_document').click(function(){
          if(isSelectCover) {
            $('.project_document').removeClass('active');
            $(this).addClass('active');
          
            $('#selected_project_document_id').val($(this).find('#project_document_id').val());
          }
        });
      });
    </script>
  <% end%>
</div>
