<%= render '/users/settings_top_banner', :page_title => "Purchase History" %>
<div class="settings_page row">
  <%= render '/users/settings_sidebar' %>
  <div class="span11 ">
    <% if @subscription_payments.present? %>
      <h2>Subscriptions</h2>
      <table>
        <tr>
          <th>Subscription</th>
          <th>Type</th>
          <th>Date</th>
          <th>Receipt</th>
          <th>Total</th>
        </tr>

        <% @subscription_payments.each do |sp| %>
          <tr>
            <td><%= sp.upstream_authorization %></td>
            <td><%= sp.type %></td>
            <td><%= sp.created_at.to_formatted_s(:long) %></td>
            <td><%= link_to 'View', subscription_path(sp) %></td>
            <td><%= number_to_currency (sp.amount) %></td>
          </tr>
        <% end %>
      </table>
    <% end %>
    <h2>Credits</h2>
    <table>
      <tr>
        <th>Credits</th>
        <th>Type</th>
        <th>Date</th>
        <th>Receipt</th>
        <th>Total</th>
      </tr>

      <% @credit_adjustments.each do |ca| %>
        <tr>
          <td><%= ca.value %></td>
          <td><%= ca.type %></td>
          <td><%= ca.created_at.to_formatted_s(:long) %></td>
          <td><%= link_to 'View', credit_path(ca) %></td>
          <td><%= number_to_currency (ca.amount) %></td>
        </tr>
      <% end %>
    </table>
    <%= link_to 'Buy More Credits', new_credit_path, :class => 'btn large primary float_right' %>
  </div>
</div>
