<div class="credits_page payments_page row">
  <div class="span4 ">
    <div class="credits_nav">
      <h1>Credits</h1>
      <ul>
        <li>
          <strong>Buy Credits</strong>
        </li>
        <li>
          <%= link_to "Buy a Subscription", subscriptions_path %>
        </li>
      </ul>
    </div>
  </div>

  <div class="span12">
    <h1>Buy Credits</h1>

    <div class="explanation">
      <h3>How do credits work?</h3>
      <p>Credits are BBN's very own currency.  Purchase credits and spend them whenever you want to submit a bid on a project.  The credit cost of a project depends on its budget, size and complexity.</p>
    </div>

    <div class="row">
      <div class="span5">
        <div class="credits_box direct_purchase">
          <h1>1 Bid Credit = $<%= CreditsController::PricePerCredit %></h1>
          <%= form_tag(new_credit_path, :method => :get, :class => 'row') do %>
            <div class="span2">
              <label>Quantity:</label>
              <%= select_tag(
                  :value, 
                  options_for_select(
                    [
                      ["1 Bid Credit", 1], 
                      ["2 Bid Credits", 2],
                      ["3 Bid Credits", 3],
                      ["4 Bid Credits", 4],
                      ["5 Bid Credits", 5],
                      ["6 Bid Credits", 6],
                      ["7 Bid Credits", 7],
                      ["8 Bid Credits", 8],
                      ["9 Bid Credits", 9]
                    ])) %>
            </div>
            <div class="span2 ">
              <label>Price:</label>
              <span class="label price"><span class="denom">$</span><span class="number"><%= CreditsController::PricePerCredit %></span></span>
            </div>
            <div class="span5 ">
              <%= submit_tag 'Buy Now', :class => 'btn large primary' %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="span7">
        <div class="credits_box explanation_box">
          <h1>How much do projects cost? <strong>(Credits Per Est. Budget)</strong></h1>
          <div class="chart_image"><%= image_tag '/images/credit_per_budget_image.png', :alt => 'Credits Per Estimated Budget' %></div>
          <div class="credit_schedule">
            <ul>
              <li><strong>1 Credit =</strong>$1&mdash;$50,000</li>
              <li><strong>2 Credits =</strong>$50,001&mdash;$100,000</li>
              <li><strong>3 Credits =</strong>$100,001&mdash;$250,000</li>
              <li><strong>4 Credits =</strong>$250,001&mdash;$500,000</li>
              <li><strong>5 Credits =</strong>$500,001 and Up</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="span12">
      <div class="credits_box groups_box">
        <h1>Save on Bid Credits by purchasing them in Groups</h1>
        <% CreditsController::GroupPackages.each_with_index do |package, index| %>
          <%- credits, price = package %>
          <div class="group_box">
            <span class="group_credits">
              <span class="number"><%= credits %></span>
              <span class="group_credits_label">credits</span>
            </span>
            <div class="bonus">
              Includes <%= credits - (price / CreditsController::PricePerCredit) %> FREE
            </div>
            <div class="group_deal">
              <span class="price"><%= number_to_currency price %></span>
              <span class="price_per">(<%= number_to_currency(price / credits) %>/Credit)</span>
            </div>
            <%= link_to "Buy Now", new_credit_path(:package => index), {:class => 'btn primary large'} %>
          </div>
        <% end %>
      </div>

      <div class="explanation policy">
        <h3>Refund Policy</h3>
        <p>BuildersBidNetwork LLC acknowledges that all subscriptions, bid credit purchases, and any additional fees are considered final. If the customer wishes to discuss particular issues on the purchasing experience, matters will be reviewed on a case-by-case process. Please note that BuildersBidNetwork LLC reserves the right to refuse refunding users should the case be incomplete or lacking appropriate evidence, to be determined by the Company.</p>
      </div>

    </div>
  </div>
</div>
<% content_for :javascript do %>
  <%= javascript_include_tag "jquery.calculation" %>
  <script type="text/javascript">
    $(document).ready(function() {
      recalc(null);
      $(".credits_box.direct_purchase select").bind("change", recalc);
      function recalc(event) {
        var amt = $('.credits_box.direct_purchase select').val();
        $(".credits_page .credits_box .label.price span.number").text(amt * <%= CreditsController::PricePerCredit %>);
      }
    });
  </script>
<% end %>
