<div class="row span8">
	<%= form_for @pc, :url => credits_path, :method => :post do |f| %>
		<% if @pc.errors.any? %>
      <div class="alert-message block-message error">
	      <strong><%= pluralize(@pc.errors.count, "error") %> prohibited this purchase from being completed:</strong>
	
	      <ul>
	      <% @pc.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>
	  <p class="row">
	    <%= f.text_field :first_name, :placeholder => "First Name", :class => "span4 alpha" %>
	    <%= f.text_field :last_name, :placeholder => "Last Name", :class => "span4 " %>
	  </p>
	  <p class="row">
	    <%= f.text_field :card_number,  :placeholder => "Card Number", :class => "span5 alpha" %>
	    <%= f.text_field :card_verification, :size => 4, :placeholder => "CCV", :class => "span1 alpha" %>
	    <%= f.text_field :card_billing_zip, :size => 6, :placeholder => "Zip", :class => "span2 alpha" %>
	  </p>
	  <p class="row">
	    <%= f.label :card_type, "Type", :class => "span1 alpha" %>
	    <%= f.select :card_type, [["Visa", "visa"], ["MasterCard", "master"], ["Discover", "discover"], ["American Express", "american_express"]], {}, :class => "span2 " %>
	    <%= f.label :card_expires_on, "Expires", :class => "span1 alpha" %>
	    <%= f.date_select :card_expires_on, {:discard_day => true, :start_year => Date.today.year, :end_year => (Date.today.year+10), :add_month_numbers => true}, :class => "span2 " %>
	  </p>
    <div class="row">
      <%= f.label :value, "Credits", :class => "span2 alpha" %>
      <%= f.select :value, [1,2,3,4,5,6,7,8,9,10], {}, :class => "span6 alpha" %>
    </div>
    <div class="row">
      <%= f.label :amount, "Total", :class => "span2 alpha" %>
      <%= f.text_field :amount, :size => 10, :readonly => 'true', :class => "span6 alpha" %>
    </div>
    </div>
	  <p class="row span8 text_align_right"><%= f.submit "Submit", :class => 'btn large primary' %></p>
	<% end %>
</div>
<% content_for :javascript do %>
  <%= javascript_include_tag "jquery.calculation" %>
  <script type="text/javascript">
    $(document).ready(function() {
      recalc(null);
      $("#payment_credit_value").bind("change", recalc);
      function recalc(event) {
        $("input#payment_credit_amount").calc(
          "value * cost", { 
            value: $("#payment_credit_value"),
            cost: 3.33 
          }, 
          function (s){ 
            return s.toFixed(2); 
          }, 
          function ($this){ } 
        );
      }
    });
  </script>
<% end %>
