<div class="subscriptions_page payments_page row">
  <div class="span4 ">
    <div class="credits_nav">
      <h1>Subscriptions</h1>
      <ul>
        <li>
          <%= link_to "Buy Credits", credits_path %>
        </li>
        <li>
          <strong>Buy Subscription</strong>
        </li>
      </ul>
    </div>
  </div>
  
    
  <div class="span12">
      <h1>How do you get started?</h1>
        <li><span>It's easy, just follow these 3 simple steps</span></li>
          <div class="subscription_box">
          <ol>
              <li>
                <div class ="step_one">
                  <h3> Create an Account</h3>
                  <p>You must be a BBN member to subscribe and bid on projects. Start a FREE account today.</p>
                  <%= link_to "Sign Up", new_user_registration_path, {:class => 'btn primary large'} %>
                </div>
              </li>
              <li>
                <div class ="step_two">
                  <h3> Subscribe & Buy Credits</h3>
                  <p>In order to view project details you must be a subscribing member. Once you find a suitable project, it will cost credits to submit a bid.</p>  
                    <%= link_to "Subscribe Month-by-Month", new_subscription_path(:package => :monthly), {:class => 'btn primary large'} %>
                    <%= link_to "Subscribe for the Year", new_subscription_path(:package => :yearly), {:class => 'btn primary large'} %>
                    <%= link_to "Buy Credits", credits_path, {:class => 'btn primary large'} %>
                </div>         
              </li>
              <li>
                <div class ="step_three">
                  <h3>Search & Bid on Projects</h3>
                  <p>Use the search bar or general browse from the Dashboard or Browse Pages.</p>
                  <%= link_to "Search Tips", search_index_path, {:class => 'btn primary large'} %>
                </div>
              </li>
          </ol>
    </div>
    
    <div class ="subscription_plans">
      <div class ="head">
        <h3> Choose a subscription that works for you<h3>
      </div>
      <table>
        <tr id="row1">
          <th></th><th>Month-by-Month</th><th>Yearly</th>
        </tr>
        <tr id="row2">
          <th>Plan Price:</th>
          <TD>$89.95/month ($1,079.40/Year)</td>
          <TD>$79.95/month ($959.40 Total)</td>
        </tr>
        <tr id="row3">
          <th>Extras</th>
          <TD>None</td>
          <TD>2 Bid Credits Year</td>
        <tr id="row4">
          <th></th>
          <td><%= link_to "Buy Now", new_subscription_path(:package => :monthly), {:class => 'btn primary large'} %></td>
          <td><%= link_to "Buy Now", new_subscription_path(:package => :yearly), {:class => 'btn primary large'} %></td>
        </tr>
      </table>
    </div>
      <div class="explanation">
        <h3>What do I get for my Subcription?
          <p>By subscribing, you will be able to see the details of projects, complete information for other members' profiles and be able to contact other members through the BBN site.  You will be able to customize your membership features, making BBN suit your needs.  As a Developer, you will be able to post projects for bidding or bid on projects if you are a Contractor.  Year-length subscriptions come with complimentary bid credits, so that you can begin bidding immediately.</p>
      </div>
  </div>
</div>
