<div class="subscriptions_page payments_page checkout row">
  <div class="span4 ">
    <div class="credits_nav">
      <h1>Credits</h1>
      <ul>
        <li>
          <%= link_to "Buy Credits", credits_path %>
        </li>
        <li>
          <%= link_to "Buy a Subscription", subscriptions_path %>
        </li>
      </ul>
    </div>
  </div>
  <div class="row span12">
    <h1>Checkout</h1>

    <table>
      <tr>
        <th>Item</th>
        <th>Quantity</th>
        <th>Unit Price</th>
        <th>Total</th>
      </tr>

      <tr>
        <td>
          Site Subscription - <%= @subscription_payment.interval.humanize %>
        </td>
        <td>
          1
        </td>
        <td>
          <%= number_to_currency @subscription_payment.amount %>
        </td>
        <td>
          <%= number_to_currency @subscription_payment.amount %>
        </td>
      </tr>

      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>

      <tr>
        <td>Total</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>
          <%= number_to_currency @subscription_payment.amount %>
        </td>
      </tr>

    </table>

    <h1>Enter Payment Information</h1>

    <div class="row span8 payment_info">
      <div class="cards">
        <%= image_tag '/images/cc_icons/visa.png' %>
        <%= image_tag '/images/cc_icons/mastercard.png' %>
        <%= image_tag '/images/cc_icons/amex.png' %>
        <%= image_tag '/images/cc_icons/discover.png' %>
      </div>
      <%= form_for @subscription_payment, :url => subscriptions_path, :method => :post do |f| %>
        <%= f.hidden_field :amount %>
        <%= f.hidden_field :interval %>
        <%= f.hidden_field :adjustment_type, :value => @subscription_payment.type %>
        <% if @subscription_payment.errors.any? %>
          <div class="alert-message block-message error">
            <strong><%= pluralize(@subscription_payment.errors.count, "error") %> prohibited this purchase from being completed:</strong>
      
            <ul>
            <% @subscription_payment.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
        <div class="row">
          <%= f.label :card_type, "Type", :class => "span2 " %>
          <%= f.select :card_type, [["Visa", "visa"], ["MasterCard", "master"], ["Discover", "discover"], ["American Express", "american_express"]], {}, :class => "span6 alpha" %>
        </div>
        <div class="row">
          <label class="span2">Name</label>
          <%= f.text_field :first_name, :placeholder => "First Name", :class => "span6 alpha" %>
        </div>
        <div class="row">
          <label class="span2">&nbsp;</label>
          <%= f.text_field :last_name, :placeholder => "Last Name", :class => "span6 alpha" %>
        </div>
        <div class="row">
          <%= f.label :card_number, :class => "span2 " %>
          <%= f.text_field :card_number,  :placeholder => "Card Number", :class => "span6 alpha" %>
        </div>
        <div class="row">
          <%= f.label :card_verification, "Security Code", :class => "span2 " %>
          <%= f.text_field :card_verification, :size => 4, :placeholder => "CCV", :class => "span2 alpha" %>
          <%= f.label :card_billing_zip, "Postal Code", :class => "span2 " %>
          <%= f.text_field :card_billing_zip, :size => 6, :placeholder => "Zip", :class => "span2 alpha" %>
        </div>
        <div class="row">
          <%= f.label :card_expires_on, "Expires", :class => "span2 " %>
          <%= f.date_select :card_expires_on, {:discard_day => true, :start_year => Date.today.year, :end_year => (Date.today.year+10), :add_month_numbers => true}, :class => "span3 alpha " %>
        </div>
        <p class="row span8 text_align_right"><%= f.submit "Submit Payment", :disable_with => "Submitting...", :class => 'btn large primary' %></p>
      <% end %>
    </div>
  </div>
</div> <!-- /.credits_page -->
