<%= form.fields_for :locations do |location_form| %>
  <div class="field grid_6 alpha omega">
    <%= location_form.label :address1, "Location", :class => "grid_1 alpha" %>
    <%= location_form.text_field :address1, :class => "grid_5 alpha omega" %>
  </div>
  <div class="field grid_6 alpha omega">
    <span class="grid_1 alpha">&nbsp;</span>
    <%= location_form.text_field :address2, :class => "grid_5 alpha omega" %>
  </div>
  <div class="field grid_6 alpha omega">
    <%= location_form.label :city, :class => "grid_1 alpha" %>
    <%= location_form.text_field :city, :class => "grid_2 alpha omega" %>
	
    <%= location_form.label :state %>
	<%= location_form.select(:state, [     
      ['AL', 'AL'], 
      ['AK', 'AK'],
      ['AZ', 'AZ'],
      ['AR', 'AR'], 
      ['CA', 'CA'], 
      ['CO', 'CO'], 
      ['CT', 'CT'], 
      ['DE', 'DE'], 
      ['DC', 'DC'], 
      ['FL', 'FL'],
      ['GA', 'GA'],
      ['HI', 'HI'], 
      ['ID', 'ID'], 
      ['IL', 'IL'], 
      ['IN', 'IN'], 
      ['IA', 'IA'], 
      ['KS', 'KS'], 
      ['KY', 'KY'], 
      ['LA', 'LA'], 
      ['ME', 'ME'], 
      ['MD', 'MD'], 
      ['MA', 'MA'], 
      ['MI', 'MI'], 
      ['MN', 'MN'],
      ['MS', 'MS'], 
      ['MO', 'MO'], 
      ['MT', 'MT'], 
      ['NE', 'NE'], 
      ['NV', 'NV'], 
      ['NH', 'NH'], 
      ['NJ', 'NJ'], 
      ['NM', 'NM'], 
      ['NY', 'NY'], 
      ['NC', 'NC'], 
      ['ND', 'ND'], 
      ['OH', 'OH'], 
      ['OK', 'OK'], 
      ['OR', 'OR'], 
      ['PA', 'PA'], 
      ['RI', 'RI'], 
      ['SC', 'SC'], 
      ['SD', 'SD'], 
      ['TN', 'TN'], 
      ['TX', 'TX'], 
      ['UT', 'UT'], 
      ['VT', 'VT'], 
      ['VA', 'VA'], 
      ['WA', 'WA'], 
      ['WV', 'WV'], 
      ['WI', 'WI'], 
      ['WY', 'WY']]) %>
	
    <%= location_form.label :post_code, "Zip" %>
    <%= location_form.text_field :post_code, :size => "5" %>
  </div>
<% end %>
