<!DOCTYPE html>
<html>
<head>
  <title>YPN</title>
  <%= stylesheet_link_tag "reset", "text", "960", "scaffold", "jquery.lightbox-0.5", "main" %>
  <%= csrf_meta_tag %>
  <link rel="shortcut icon" href="/favicon.ico" />
  <%= yield(:head) %>
</head>
<body>
  <div class="brand_header ">
    <div class="container_16 header_container">
      <h1>
        <%= link_to root_path do %>
          Your<em>Project</em>Network
        <% end %>
      </h1>
      <div class="user_nav">
        <% if user_signed_in? %>
          <%= link_to current_user.email, current_user.profile %> |
		  <%= link_to "Messages", messages_path %> |
		  <%= link_to "Notifications", notifications_path %> (<%= current_user.mailbox.notifications.unread.count %>) |
		  <%= link_to "Credits", credits_path %> (<%= current_user.credits %>) |
          <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
        <% else %>
          <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %>
        <% end %>
      </div>
      <div class="search_nav">
        <%= form_for @search || Search.new, :url => search_index_path, :method => :get do |f| %>
				  <%= f.text_field :q %>
					<%= f.radio_button :section, :projects %>
					<%= f.label :projects, "Projects" %>
					<%= f.radio_button :section, :contractors %>
					<%= f.label :contractors, "Contractors" %>
					<%= f.radio_button :section, :developers %>
					<%= f.label :developers, "Developers" %>
				  <%= f.submit "Search" %>
				<% end %>
      </div>
    </div>
  </div>
  <div id="wrapper" class="container_16">
    <% if notice %><p class="message notice"><%= notice %></p><% end %>
    <% if alert %><p class="message alert"><%= alert %></p><% end %>

    <%= yield %>
  </div>
  <%= javascript_include_tag :defaults, "nested_form" %>
  <%= yield(:javascript) %>
</body>
</html>
