<!DOCTYPE html>
<html>
<head>
  <title>YPN</title>
  <%= stylesheet_link_tag "reset", "text", "960", "scaffold", "jquery.lightbox-0.5", "main" %>
  <%= csrf_meta_tag %>
  <link rel="shortcut icon" href="/favicon.ico" />
  <%= yield(:head) %>
</head>
<body>
  <div class="brand_header ">
    <div class="container_12 header_container">
      <h1>
        <%= link_to root_path do %>
          Your<em>Project</em>Network
        <% end %>
      </h1>
      <div class="user_nav">
        <% if user_signed_in? %>
          <%= current_user.email %> |
		  <%= link_to "Messages", messages_path %> |
		  <%= link_to "Notifications", notifications_path %> (<%= current_user.mailbox.notifications.unread.count %>) |
          <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
        <% else %>
          <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %>
        <% end %>
      </div>
    </div>
  </div>
  <div id="wrapper" class="container_12">
    <% if notice %><p class="message notice"><%= notice %></p><% end %>
    <% if alert %><p class="message alert"><%= alert %></p><% end %>

    <%= yield %>
  </div>
  <%= javascript_include_tag :defaults, "nested_form" %>
  <%= yield(:javascript) %>
</body>
</html>
