<!DOCTYPE html>
<html>
<head>
  <title>BBN</title>

  <%= stylesheet_link_tag "application", "main" %>
  <%= stylesheet_link_tag "print", :media=>"print" %>
  <!--[if ie]>
    <%= stylesheet_link_tag "ie" %>
  <![endif]-->
  <%= csrf_meta_tag %>
   
  <link rel="shortcut icon" href="/favicon.ico" />
  <%= yield(:head) %>
</head>
<body class="<%= yield(:body_class) %>">

  <div class="topbar auth_topbar" data-dropdown="dropdown">
    <div class="fill">
      <div class="container">
        <% if ! user_signed_in? %>
          <div class="sign_in_cta">
            Already have an account?
            <%= link_to "Log In", new_user_session_path %>
            or 
            <%= link_to "Sign Up", new_user_registration_path %>
          </div>
          <div class="home-page-navbar-login">    
            <%= form_for(:user, :as => :user, :url => user_session_path) do |f| %> 
              Username: <%= f.email_field :email %>
              Password: <%= f.password_field :password %>
              <%= f.submit "Log In", :class => "" %>
            <% end %> 
          </div>
        <% end %>
        <% if user_signed_in? %>
          <ul class="secondary-nav">
            <li class="dropdown">
              <% if current_user.profile.blank? %>
                <%= link_to current_user.email, new_profile_path %>
              <% else %>
                <%= current_user.profile.type_name %>
                <%= link_to current_user.profile.name, profile_path(current_user.profile) %>
              <% end %>
              <a href="#" class="dropdown-toggle">
                <%= image_tag "/images/contact_person_icon.png", :alt => "Menu", :width => "16px", :height => "16px" %>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Account Settings", edit_user_registration_path %></li>
                <li><%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
              </ul>
            </li>
          </ul>
        <% end %>
      </div>
    </div>
  </div>

  <div class="brand_header ">
    <div class="topbar nav_topbar">
      <div class="fill">
        <div class="container nav_container">
          <%= link_to (image_tag "/images/BuildersBidNetwork_Logo.png", :alt => "BBN", :class => "logo"), root_path %>
          <% if user_signed_in? && ! current_user.profile.blank? %>
            <ul class="nav ">
              <li class="<%= put_if_current_page('active', profile_path(current_user.profile)) %>"><%= link_to "Profile", profile_path(current_user.profile) %></li>
              <li class="<%= put_if_current_page('active', notifications_path) %>">
                <%= link_to notifications_path do %> 
                  Notifications
                  <p class="nav_desc">
                    <span class="label"><%= current_user.unread_message_count.to_s %></span>
                    messages
                  </p>
                <% end %>
              </li>
              <li class="<%= put_if_current_page('active', search_index_path) %>">
                <%= link_to "Browse 
                  <p class = 'nav_desc'>
                  <span>projects, etc.</span>
                  </p>".html_safe, search_index_path %>
              </li>
              <li class="<%= put_if_current_page('active', activity_index_path) %>">
                <%= link_to activity_index_path do %>
                  My BBN
                  <p class="nav_desc">
                    <% if current_user.contractor? %>
                      <span>track bids, etc.</span>
                    <% else %>
                      <span>track projects</span>
                    <% end %>
                  </p>
                <% end %>
              </li>
              <li class="<%= put_if_current_page('active', credits_path) %>">
                <%= link_to credits_path do %>
                  Credits 
                  <p class="nav_desc">
                    <span class="label"><%= (current_user.credits.blank? ? 0 : current_user.credits).to_s %></span>
                  </p>
                <% end %>
              </li>
            </ul>
          <% else %>
            <ul class="nav">
              <!--<li class="<%= put_if_current_page('active', root_path) %>">
                <%= link_to "Home", root_path %>
              </li>-->
              <!-- TODO: Fix Link destinations & content_page_path -->
              <li class="<%= put_if_current_page('active', content_page_path('Contact')) %>"><%= link_to "How<span>it works</span>".html_safe, content_page_path('how') %></li>
              <li class="<%= put_if_current_page('active', content_page_path('About')) %>"><%= link_to "What<span>is BBN?</span>".html_safe, content_page_path('about') %></li>
              <li class="<%= put_if_current_page('active', content_page_path('About')) %>"><%= link_to "Browse<span>projects, etc.</span>".html_safe, search_index_path %></li>
              <li class="<%= put_if_current_page('active', content_page_path('Contact')) %>"><%= link_to "Questions?<span>contact us</span>".html_safe, content_page_path('contact') %></li>
            </ul>
          <% end %>
          <div class="search_nav">
            <%= form_for @search || Search.new, :url => search_index_path, :method => :get do |f| %>
              <span class="input-append">
                <%= f.text_field :q, :class => "search", :placeholder => "Search" %>
                <label class="add-on ">
                  <%= f.select :section, [["Projects", :projects], ["Contractors", :contractors], ["Developers", :developers]], {}, {:class => 'small'} %>
                </label>
                <label class="add-on ">
                  <%= f.submit "Search", :class => 'search_btn', :type => "image", :src => "/images/search_icon.png" %>
                </label>
              </span>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div id = "top-banner">
    <%= yield :top_banner %>
  </div>
 <!--  <div class="home_interior_wrap"> -->
    <div id="wrapper" class="container">
      <% if notice %><p class="alert-message warning"><%= notice %></p><% end %>
      <% if alert %><p class="alert-message error"><%= alert %></p><% end %>

      <%= yield %>
    </div>
  <div class="footer">
    <div class="fill">
      <div class="container footer_container">
        <ul>
          <li><%= link_to "How it Works", content_page_path('how') %></li>
          <li> | </li>
          <li><%= link_to "Contact Us", content_page_path('contact')%></li>
          <li> | </li>
          <li><%= link_to "FAQs", content_page_path('help') %></li>
          <li> | </li>
          <li><%= link_to "About", content_page_path('about') %></li>
          <li> | </li>
          <li><%= link_to "Privacy Policy", content_page_path('privacy') %></li>
          <li> | </li>
          <li><%= link_to "Terms of Use", content_page_path('terms') %></li>
          <li class="left_side">
            <span class="left_sidetop">BuildersBidNetwork</span>
            <span class="left_sidebottom">&copy;<%= Date.today.year %> BuildersBidNetwork.com</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <%= javascript_include_tag :application %>
  <%= yield(:javascript) %>
  <%= google_analytics_js %>
  <%= get_satisfaction_js %>
  <!-- [<%= ENV['DEPLOYED_VERSION'] %>] -->
</body>
</html>
